<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body>


	{include file="public:pc_top"}
	



	<!-- 联邦在线概览 -->
	<div class="common_box">
		<div class="am-text-center common_wrap">
			<div class="common_title">
				<h6>Company Profile</h6>
				<p>联邦在线概览</p>
			</div>
		</div>
		<div class="scan_box">
			<div class="common_wrap">
				<div class="am-text-center am-text-default">
					<div class="scan_cont">
						联邦在线经过多年发展，深耕语言翻译服务和影音制作服务，形成以郑州译美翻译服务有限公司，郑州同文翻译有限公司，郑州千和文化传媒有限公司的集团，专业性强、服务范围广、实力雄厚。
					</div>
					<div class="scan_block"></div>
				</div>
				<div class="scan_wrap common_pad">
					<div class="am-cf am-text-default">
						<div class="am-u-lg-6 am-u-sm-12 scan_item">
							<div class="scan_cell">联邦在线全球拥有23000多名专业的翻译和配音从业者，及资深的行业专家，主营业务有笔译、口译、同声传译、多语种配音，专业提供各个行业翻译和配音的解决方案。</div>
						</div>
						<div class="am-u-lg-6 am-u-sm-12 scan_item">
							<div class="scan_cell">
								联邦在线自成立以来，一直秉承“专业、职业、敬业”的服务宗旨，为国内各部委、国内外各大机构、部门、组织、企事业单位及公司提供准确、优质的多语种翻译和配音服务。并且为一些重大项目提供专业、保密的服务。
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="scan_kind">
				<div class="scan_bg"></div>
				<div class="common_wrap">
					<ul class="scan_list common_pad am-cf">
						<li class="am-u-lg-3 am-u-sm-6">
							<div class="scan_unit am-text-center am-text-default">
	<img class="scan_pic" src="__HOME__/img/about_pic.png" alt="">
	<div class="scan_kuai"></div>
	<div class="scan_word word text_ellipsis">professional</div>
	<div class="scan_txt text_ellipsis">专业</div>
</div>
						</li>
						<li class="am-u-lg-3 am-u-sm-6">
							<div class="scan_unit am-text-center am-text-default">
	<img class="scan_pic" src="__HOME__/img/about_pic.png" alt="">
	<div class="scan_kuai"></div>
	<div class="scan_word word text_ellipsis">professional</div>
	<div class="scan_txt text_ellipsis">专业</div>
</div>
						</li>
						<li class="am-u-lg-3 am-u-sm-6">
							<div class="scan_unit am-text-center am-text-default">
	<img class="scan_pic" src="__HOME__/img/about_pic.png" alt="">
	<div class="scan_kuai"></div>
	<div class="scan_word word text_ellipsis">professional</div>
	<div class="scan_txt text_ellipsis">专业</div>
</div>
						</li>
						<li class="am-u-lg-3 am-u-sm-6">
							<div class="scan_unit am-text-center am-text-default">
	<img class="scan_pic" src="__HOME__/img/about_pic.png" alt="">
	<div class="scan_kuai"></div>
	<div class="scan_word word text_ellipsis">professional</div>
	<div class="scan_txt text_ellipsis">专业</div>
</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="scan_kind">
				<div class="common_wrap">
					<ul class="scan_list common_pad am-cf">
						<li class="am-u-lg-4 am-u-sm-12">
							<p class="scan_subtitle">超值价格（专业级）</p>
							<div class="am-center">
								<p class="scan_price_info am-padding-horizontal">
									中译英「高翻」原价
									<span class="scan_yprice">240</span>
									，折后
									<span class="scan_xprice">168</span>
									元／千字
								</p>
								<p class="scan_price_info am-padding-horizontal">
									英译中「精翻」原价
									<span class="scan_yprice">160</span>
									，折后
									<span class="scan_xprice">112</span>
									元／千字
								</p>
								<p class="scan_price_info am-padding-horizontal">给你的文件估个价试试？</p>
							</div>
						</li>
						<li class="am-u-lg-2 am-u-lg-offset-1 am-u-sm-12 am-margin-vertical-lg">
							<div class="scan_price_bg"></div>
						</li>
						<li class="am-u-lg-4 am-u-sm-12 am-text-center">
							<p class="scan_subtitle">超值价格（专业级）</p>
							<p class="scan_price_info">
								<span class="scan_xprice">人工翻譯 · </span>
								定制解决方案，匹配最佳译者
							</p>
							<p class="scan_price_info">
								<span class="scan_xprice">人工翻譯 · </span>
								定制解决方案，匹配最佳译者
							</p>
							<p class="scan_price_info">
								<span class="scan_xprice">人工翻譯 · </span>
								定制解决方案，匹配最佳译者
							</p>
						</li>
					</ul>
				</div>
			</div>


			<div class="am-text-center">
				<a class="look_more" href="about.html" title="免费报价">免费报价</a>
				<p class="look_info">提交译审两稿，承诺说到做到</p>
			</div>

		</div>
	</div>

	<!-- 翻译领域 -->
	<div class="common_box common_wrap">
		<div class="am-text-center">
			<div class="common_title">
				<h6>TRANSLATION FIELD</h6>
				<p>翻译领域</p>
			</div>
		</div>
		<div class="serve_wrap mar_btm am-margin-top">
			<ul class="serve_list am-cf">
				<li class="serve_item am-u-lg-3 am-u-sm-12">
					<div class="serve_cell am-cf">
	<img class="serve_icon am-fl" src="__HOME__/img/icon_translate.png" width="50" height="50" alt="">
	<div class="serve_txt am-fl">
		<div class="serve_txt_title am-text-truncate am-text-default col_four">法律合同</div>
		<div class="serve_txt_cont">
			联邦翻译公司提供各类法律法规、合同协议和标书的翻译，有专门法律译员把关，确保严谨专业。
		</div>
	</div>
</div>
				</li>
				<li class="serve_item am-u-lg-3 am-u-sm-12">
					<div class="serve_cell am-cf">
	<img class="serve_icon am-fl" src="__HOME__/img/icon_translate.png" width="50" height="50" alt="">
	<div class="serve_txt am-fl">
		<div class="serve_txt_title am-text-truncate am-text-default col_four">法律合同</div>
		<div class="serve_txt_cont">
			联邦翻译公司提供各类法律法规、合同协议和标书的翻译，有专门法律译员把关，确保严谨专业。
		</div>
	</div>
</div>
				</li>
				<li class="serve_item am-u-lg-3 am-u-sm-12">
					<div class="serve_cell am-cf">
	<img class="serve_icon am-fl" src="__HOME__/img/icon_translate.png" width="50" height="50" alt="">
	<div class="serve_txt am-fl">
		<div class="serve_txt_title am-text-truncate am-text-default col_four">法律合同</div>
		<div class="serve_txt_cont">
			联邦翻译公司提供各类法律法规、合同协议和标书的翻译，有专门法律译员把关，确保严谨专业。
		</div>
	</div>
</div>
				</li>
				<li class="serve_item am-u-lg-3 am-u-sm-12">
					<div class="serve_cell am-cf">
	<img class="serve_icon am-fl" src="__HOME__/img/icon_translate.png" width="50" height="50" alt="">
	<div class="serve_txt am-fl">
		<div class="serve_txt_title am-text-truncate am-text-default col_four">法律合同</div>
		<div class="serve_txt_cont">
			联邦翻译公司提供各类法律法规、合同协议和标书的翻译，有专门法律译员把关，确保严谨专业。
		</div>
	</div>
</div>
				</li>
				<li class="serve_item am-u-lg-3 am-u-sm-12">
					<div class="serve_cell am-cf">
	<img class="serve_icon am-fl" src="__HOME__/img/icon_translate.png" width="50" height="50" alt="">
	<div class="serve_txt am-fl">
		<div class="serve_txt_title am-text-truncate am-text-default col_four">法律合同</div>
		<div class="serve_txt_cont">
			联邦翻译公司提供各类法律法规、合同协议和标书的翻译，有专门法律译员把关，确保严谨专业。
		</div>
	</div>
</div>
				</li>
				<li class="serve_item am-u-lg-3 am-u-sm-12">
					<div class="serve_cell am-cf">
	<img class="serve_icon am-fl" src="__HOME__/img/icon_translate.png" width="50" height="50" alt="">
	<div class="serve_txt am-fl">
		<div class="serve_txt_title am-text-truncate am-text-default col_four">法律合同</div>
		<div class="serve_txt_cont">
			联邦翻译公司提供各类法律法规、合同协议和标书的翻译，有专门法律译员把关，确保严谨专业。
		</div>
	</div>
</div>
				</li>
				<li class="serve_item am-u-lg-3 am-u-sm-12">
					<div class="serve_cell am-cf">
	<img class="serve_icon am-fl" src="__HOME__/img/icon_translate.png" width="50" height="50" alt="">
	<div class="serve_txt am-fl">
		<div class="serve_txt_title am-text-truncate am-text-default col_four">法律合同</div>
		<div class="serve_txt_cont">
			联邦翻译公司提供各类法律法规、合同协议和标书的翻译，有专门法律译员把关，确保严谨专业。
		</div>
	</div>
</div>
				</li>
				<li class="serve_item am-u-lg-3 am-u-sm-12">
					<div class="serve_cell am-cf">
	<img class="serve_icon am-fl" src="__HOME__/img/icon_translate.png" width="50" height="50" alt="">
	<div class="serve_txt am-fl">
		<div class="serve_txt_title am-text-truncate am-text-default col_four">法律合同</div>
		<div class="serve_txt_cont">
			联邦翻译公司提供各类法律法规、合同协议和标书的翻译，有专门法律译员把关，确保严谨专业。
		</div>
	</div>
</div>
				</li>
			</ul>
		</div>
	</div>

	<!-- 证件翻译服务 -->
	<div class="common_box common_wrap">
		<div class="am-text-center">
			<div class="common_title">
				<h6>TRANSLATION OF DOCUMENTS</h6>
				<p>证件翻译服务</p>
			</div>
		</div>
		<div class="serve_about am-cf common_pad common_wrap">
			<img class="serve_about_pic language am-fl" src="__HOME__/img/language_pic.png" alt="">
			<div class="serve_about_txt am-padding am-fr">
				<div class="cont am-padding-top-lg">
					<p class="cont_title am-margin-bottom-xl">证件翻译服务</p>
					中英文"翻译专用章",符合国际通行的标准，翻译盖章得教育部、外交部、司法部、法院、各国使馆认可，畅通全球，适合所有翻译的盖章类文件。
				</div>
			</div>
		</div>
	</div>

	<!-- 配音文字合成 -->
	<div class="common_box common_wrap">
		<div class="am-text-center">
			<div class="common_title">
				<h6>Voice text synthesis</h6>
				<p>配音文字合成</p>
			</div>
		</div>
		<div class="common_pad">
			<div class="am-u-lg-6 am-u-sm-12 am-padding">
				<div class="voice_syn_box am-cf am-padding-vertical">
					<p class="voice_left_title">智能在线配音</p>
					<div class="am-margin-top am-g">
						<p class="voice_left_bg am-u-sm-3">————</p>
						<p class="voice_left_sub am-u-sm-6 am-padding-0 am-text-center">输入文字，点击试听，立即合成，点击下载</p>
						<p class="voice_left_bg am-u-sm-3">————</p>
					</div>
					<div class="am-margin-top-sm">
						<div class="am-u-lg-4 am-u-sm-12 am-text-center">
							<img src="__HOME__/img/voice_syn_left.png" alt="">
						</div>
						<table class="am-u-lg-8 am-u-sm-12 am-padding-0 am-margin-top-sm">
							<tr class="voice_table_item">
								<td class="am-hide-sm-only"><img src="__HOME__/img/right_blue.png" alt=""></td>
								<td class="font_16">价格低廉</td>
								<td class="text_color_E6">——</td>
								<td>价格为真人配音的1/10</td>
							</tr>
							<tr class="voice_table_item">
								<td class="am-hide-sm-only"><img src="__HOME__/img/right_blue.png" alt=""></td>
								<td class="font_16">极速响应</td>
								<td class="text_color_E6">——</td>
								<td>输入文案，一秒合成配音</td>
							</tr>
							<tr class="voice_table_item">
								<td class="am-hide-sm-only"><img src="__HOME__/img/right_blue.png" alt=""></td>
								<td class="font_16">“零”错误</td>
								<td class="text_color_E6">——</td>
								<td>机器识别99%准确率，可自由配乐</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="am-u-lg-6 am-u-sm-12 am-padding">
				<div class="voice_syn_box am-cf am-padding-vertical">
					<p class="voice_right_title">真人主播配音</p>
					<div class="am-margin-top am-g">
						<p class="voice_left_bg am-u-sm-3">————</p>
						<p class="voice_left_sub am-u-sm-6 am-padding-0 am-text-center">优质主播，发送文字，获取小样，制成成品</p>
						<p class="voice_left_bg am-u-sm-3">————</p>
					</div>
					<div class="am-margin-top-sm">
						<div class="am-u-lg-4 am-u-sm-12 am-text-center">
							<img src="__HOME__/img/voice_syn_right.png" alt="">
						</div>
						<table class="am-u-lg-8 am-u-sm-12 am-padding-0 am-margin-top-sm">
							<tr class="voice_table_item">
								<td class="am-hide-sm-only"><img src="__HOME__/img/right_green.png" alt=""></td>
								<td class="font_16">优质主播</td>
								<td class="text_color_E6">——</td>
								<td>上百位签约主播，随时配乐</td>
							</tr>
							<tr class="voice_table_item">
								<td class="am-hide-sm-only"><img src="__HOME__/img/right_green.png" alt=""></td>
								<td class="font_16">免费试音</td>
								<td class="text_color_E6">——</td>
								<td>免费录制小样，满意后配音</td>
							</tr>
							<tr class="voice_table_item">
								<td class="am-hide-sm-only"><img src="__HOME__/img/right_green.png" alt=""></td>
								<td class="font_16">贴心服务</td>
								<td class="text_color_E6">——</td>
								<td>售前售后，一对一贴心服务</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 配音案例短片 -->
	<div class="common_box common_wrap">
		<div class="am-text-center">
			<div class="common_title">
				<h6>Case short film</h6>
				<p>配音案例短片</p>
			</div>
		</div>
		<div class="success_wrap am-cf common_pad">
			<a href="javascript:showVideo();" class="success_left am-fl" style="background-image: url(__HOME__/img/anli_big.png)">
				<p class="success_cell_title">PPT转换视频+人声+背景音+字幕</p>
			</a>
			<div class="success_right am-fr">
				<ul class="success_list am-cf">
					<li class="success_item am-fl">
						<a class="success_cell" href="javascript:showVideo();" style="background-image:url(__HOME__/img/anli_right.png)">
							<p class="success_cell_title">女159-子弹低飞电视剧_超清</p>
						</a>
					</li>
					<li class="success_item am-fl">
						<a class="success_cell" href="javascript:showVideo();" style="background-image:url(__HOME__/img/anli_right.png)">
							<p class="success_cell_title">男159-江苏卫视《我们相爱吧》</p>
						</a>
					</li>
					<li class="success_item am-fl">
						<a class="success_cell" href="javascript:showVideo();" style="background-image:url(__HOME__/img/anli_right.png)">
							<p class="success_cell_title">男159-万科玲珑湾_超清</p>
						</a>
					</li>
					<li class="success_item am-fl">
						<a class="success_cell" href="javascript:showVideo();" style="background-image:url(__HOME__/img/anli_right.png)">
							<p class="success_cell_title">男159-动画片 熊出没_超清</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
			<div class="am-text-center common_pad">
			<a class="common_btn" href="news.html" title="查看更多">查看更多</a>
		</div>
	</div>

	<!-- 配音案例弹出视频 -->
	<div class="am-modal am-modal-no-btn" tabindex="-1" id="video-modal" onConfirm="closeVideo()" data-am-modal-confirm>
		<div class="am-modal-dialog">
			<div class="am-modal-hd">
				<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
			</div>
			<div class="am-modal-bd">
				<video src="__HOME__/img/movie.mp4" id="video_control" width="100%" controls></video>
			</div>
		</div>
	</div>



		<!-- 配音优势 -->
		<div class="common_box voice_box">
				<div class="am-text-center">
						<div class="common_title">
							<h6> Voice advantage</h6>
							<p>配音优势</p>
						</div>
					</div>
				<div class="brand_wrap common_wrap">
					<ul class="brand_list am-cf common_pad">
						<li class="am-u-lg-3 am-u-sm-6">
							<div class="brand_item am-text-center">
								<div class="voice_adv_item-icon" style="background: url('__HOME__/img/qp_1.png')"></div>
								<p class="font_20 am-margin-top">费率低</p>
								<p class="voice_adv_subtitle am-margin-top-sm">价格为真人配音的1/10</p>
							</div>
						</li>
						<li class="am-u-lg-3 am-u-sm-6">
							<div class="brand_item am-text-center">
									<div class="voice_adv_item-icon" style="background: url('__HOME__/img/qp_2.png')"></div>
									<p class="font_20 am-margin-top">效率高</p>
									<p class="voice_adv_subtitle am-margin-top-sm">随时随地即享配音</p>
							</div>
						</li>
						<li class="am-u-lg-3 am-u-sm-6">
							<div class="brand_item am-text-center">
									<div class="voice_adv_item-icon" style="background: url('__HOME__/img/qp_3.png')"></div>
									<p class="font_20 am-margin-top">语种、音色多</p>
									<p class="voice_adv_subtitle am-margin-top-sm">汉语、英语，百种音色</p>
							</div>
						</li>
						<li class="am-u-lg-3 am-u-sm-6">
							<div class="brand_item am-text-center">
									<div class="voice_adv_item-icon" style="background: url('__HOME__/img/qp_4.png')"></div>
									<p class="font_20 am-margin-top">稳定性好</p>
									<p class="voice_adv_subtitle am-margin-top-sm">零出错，自定义背景音乐</p>
							</div>
						</li>
					</ul>
				</div>
			</div>

	<!-- 服务中心 -->
	<div class="common_box common_wrap">
		<div class="am-text-center">
			<div class="common_title">
				<h6>Service centres</h6>
				<p>服务中心</p>
			</div>
		</div>
		<div class="center_box">
			<div class="center_wrap">
				<ul class="center_list common_pad am-cf">
					<li class="am-u-lg-4 am-u-sm-12">
						<div class="center_item am-text-center">
	<div class="center_num xie">01</div>
	<div class="center_line scan_kuai"></div>
	<div class="center_title xie text_ellipsis">
		人工翻译
	</div>
	<div class="center_cont">深度解决企业品牌定位与创建的顶层设计命题，以前瞻的视野，实战专注，助力品牌从宏观理念到微观执行的全方位实践</div>
	<div class="center_tan">探索</div>
	<div class="center_block scan_kuai"></div>
</div>
					</li>
					<li class="am-u-lg-4 am-u-sm-12">
						<div class="center_item am-text-center">
	<div class="center_num xie">01</div>
	<div class="center_line scan_kuai"></div>
	<div class="center_title xie text_ellipsis">
		人工翻译
	</div>
	<div class="center_cont">深度解决企业品牌定位与创建的顶层设计命题，以前瞻的视野，实战专注，助力品牌从宏观理念到微观执行的全方位实践</div>
	<div class="center_tan">探索</div>
	<div class="center_block scan_kuai"></div>
</div>
					</li>
					<li class="am-u-lg-4 am-u-sm-12">
						<div class="center_item am-text-center">
	<div class="center_num xie">01</div>
	<div class="center_line scan_kuai"></div>
	<div class="center_title xie text_ellipsis">
		人工翻译
	</div>
	<div class="center_cont">深度解决企业品牌定位与创建的顶层设计命题，以前瞻的视野，实战专注，助力品牌从宏观理念到微观执行的全方位实践</div>
	<div class="center_tan">探索</div>
	<div class="center_block scan_kuai"></div>
</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- 劳务输出 -->
	<div class="serve_box">
			<div class="am-text-center">
					<div class="common_title">
						<h6>Labour exports</h6>
						<p>劳务输出</p>
					</div>
				</div>
			<div class="serve_about am-cf common_pad common_wrap">
				<img class="serve_about_pic am-fr" src="__HOME__/img/lab_pic.png" alt="">
				<div class="serve_about_txt common_pad am-fl">
					<div class="cont">
						劳务输出主要是在商务会谈或旅游时提供及时翻译工作，需要陪同译员发音纯正，较强的口语表达能力和交流能力，翻译准确、流利；并需要有较强的服务意识和责任心，还需要积累大量商务和旅游知识。主要是在会议、展会、工程现场等场合中提供口译工作，需要较强的口语表达能力、反应迅速、翻译准确流利，并且需要较强的服务意识和责任心。担任现场口译人员，提供口译服务； 负责在大型展览会、交易会中对产品的性质、特点进行详细地介绍，同时解答参观者现场提出的问题； 在一些工程安装现场，负责在中外专家和工程技术人员之间进行现场口译工作。
					</div>
				</div>
			</div>


	<!-- 助力品牌 -->
	<div class="common_box brand_box">
		<div class="brand_txt am-text-center">
			深度解决企业品牌定位与创建的顶层设计命题，以前瞻的视野，实战专注，助力品牌从宏观理念到微观执行的全方位实践品牌设计与数字营销的整合，我们提供从测试测试文章的服务，设计中融入独特的品牌理解和风格尽情发挥创意，为创作、社交、放松、玩和爱打造独特的环境
		</div>
		<div class="brand_wrap common_wrap">
			<ul class="brand_list am-cf common_pad">
				<li class="am-u-lg-3 am-u-sm-6">
					<div class="brand_item am-text-center">
						<div class="brand_num"><span class="counter">1000</span>+</div>
						<div class="brand_title text_ellipsis">专业译员超过1000名</div>
					</div>
				</li>
				<li class="am-u-lg-3 am-u-sm-6">
					<div class="brand_item am-text-center">
						<div class="brand_num"><span class="counter">5000</span>+</div>
						<div class="brand_title text_ellipsis">服务案例</div>
					</div>
				</li>
				<li class="am-u-lg-3 am-u-sm-6">
					<div class="brand_item am-text-center">
						<div class="brand_num"><span class="counter">99</span>%</div>
						<div class="brand_title text_ellipsis">客户满意度</div>
					</div>
				</li>
				<li class="am-u-lg-3 am-u-sm-6">
					<div class="brand_item am-text-center">
						<div class="brand_num"><span class="counter">40000</span>+</div>
						<div class="brand_title text_ellipsis">语料库资源</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<!-- 成功案例 -->
	<div class="common_box common_wrap">
		<div class="am-text-center">
			<div class="common_title">
				<h6>Successful cases</h6>
				<p>成功案例</p>
			</div>
		</div>
		<div class="success_box common_pad">
			<div class="success_link am-cf">
				<a class="success_link_item am-u-lg-3 am-u-sm-6" href="javascript:;" target="_blank"><img
						class="success_link_pic" src="__HOME__/img/link_pic.png" alt=""></a>
				<a class="success_link_item am-u-lg-3 am-u-sm-6" href="javascript:;" target="_blank"><img
						class="success_link_pic" src="__HOME__/img/link_pic.png" alt=""></a>
				<a class="success_link_item am-u-lg-3 am-u-sm-6" href="javascript:;" target="_blank"><img
						class="success_link_pic" src="__HOME__/img/link_pic.png" alt=""></a>
				<a class="success_link_item am-u-lg-3 am-u-sm-6" href="javascript:;" target="_blank"><img
						class="success_link_pic" src="__HOME__/img/link_pic.png" alt=""></a>
				<a class="success_link_item am-u-lg-3 am-u-sm-6" href="javascript:;" target="_blank"><img
						class="success_link_pic" src="__HOME__/img/link_pic.png" alt=""></a>
				<a class="success_link_item am-u-lg-3 am-u-sm-6" href="javascript:;" target="_blank"><img
						class="success_link_pic" src="__HOME__/img/link_pic.png" alt=""></a>
				<a class="success_link_item am-u-lg-3 am-u-sm-6" href="javascript:;" target="_blank"><img
						class="success_link_pic" src="__HOME__/img/link_pic.png" alt=""></a>
				<a class="success_link_item am-u-lg-3 am-u-sm-6" href="javascript:;" target="_blank"><img
						class="success_link_pic" src="__HOME__/img/link_pic.png" alt=""></a>
			</div>
		</div>

	</div>

	<!-- 新闻资讯 -->
	<div class="common_box newsBg">
		<div class="news_box am-cf common_wrap common_pad">
			<a class="news_left am-fl" href="detail.html" style="background-image:url(__HOME__/img/news_index.png);"></a>
			<div class="news_right auto am-fl">
				<ul class="news_menu">
					<li class="news_single">
						<a class="news_shop" href="detail.html">
	<div class="news_shijian am-fl am-text-center">
		<div class="news_day am-text-xl">29</div>
		<div class="news_year">2019/03</div>
	</div>
	<div class="news_wen auto am-fl">
		<h5 class="news_wen_title am-text-default hov_main am-text-truncate">如何面对机器翻译的现状？</h5>
		<div class="news_wen_cont">
			如果通过Google仍然无法理解，感觉就是不同，那肯定是对其中某个“常用单词”理解有误...
		</div>
	</div>
</a>
					</li>
					<li class="news_single">
						<a class="news_shop" href="detail.html">
	<div class="news_shijian am-fl am-text-center">
		<div class="news_day am-text-xl">29</div>
		<div class="news_year">2019/03</div>
	</div>
	<div class="news_wen auto am-fl">
		<h5 class="news_wen_title am-text-default hov_main am-text-truncate">如何面对机器翻译的现状？</h5>
		<div class="news_wen_cont">
			如果通过Google仍然无法理解，感觉就是不同，那肯定是对其中某个“常用单词”理解有误...
		</div>
	</div>
</a>
					</li>
					<li class="news_single">
						<a class="news_shop" href="detail.html">
	<div class="news_shijian am-fl am-text-center">
		<div class="news_day am-text-xl">29</div>
		<div class="news_year">2019/03</div>
	</div>
	<div class="news_wen auto am-fl">
		<h5 class="news_wen_title am-text-default hov_main am-text-truncate">如何面对机器翻译的现状？</h5>
		<div class="news_wen_cont">
			如果通过Google仍然无法理解，感觉就是不同，那肯定是对其中某个“常用单词”理解有误...
		</div>
	</div>
</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- <div class="am-text-center">
			<a class="common_btn" href="news.html" title="查看更多">查看更多</a>
		</div> -->
	</div>


{include file="public:footer"}


	<script>
		$(function () {
			// 数字加载增长js
			$('.counter').countUp({
				delay: 10,
				time: 2000
			})
			// 关闭视频窗口时，停止播放
			$('#video-modal').on('close.modal.amui', function () {
				var video = document.getElementById('video_control');
				video.pause();
			});
		})
		// 打开视频弹窗
		function showVideo() {
			var modal = $('#video-modal');
			modal.modal();
		}
	</script>

</body>

</html>