<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body>

	{include file="public:pc_top"}

	<!-- 面包屑导航 -->
	<div class="nav-top">
		<div class="nav-box common_wrap am-cf">
			<div class="nav-float am-fl am-cf">
				<div class="nav-icon am-fl"></div>
				<div class="nav-bread am-fl">
					<span>
						<a href="index.html">关于我们</a>
					</span>
					<span class="nav-col">公司优势</span>
				</div>
			</div>
			{include file="public:about_nav"}
		</div>
	</div>

	<div class="advan_box">
		<div class="advan_unit common_wrap common_pad">
			<img class="advan_pic pic am-fl" width="582" height="398" src="{$lb1.image}" alt="">
			<div class="advan_right auto am-fr">
				<ul class="advan_list">
				 {volist name="lb2" id="v2"}
					<li class="advan_item">{$v2.desc}</li>
				{/volist}
				</ul>
			</div>
		</div>

		<div class="advan_unit common_pad light">
			<div class="common_wrap am-cf">
				<img class="advan_online pic am-fr" src="{$lb5.image}" alt="">
				<div class="advan_left auto am-fl">
					<div class="advan_left_unit">
						<h6 class="advan_left_title am-text-truncate">{$lb3.name}</h6>
						<div class="advan_left_cont am-text-default">
								{$lb3.desc}</div>
					</div>
				</div>
				<div class="advan_left auto am-fl">
					<div class="advan_left_unit">
						<h6 class="advan_left_title am-text-truncate">{$lb4.name}</h6>
						<div class="advan_left_cont am-text-default">
								{$lb4.desc}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="advan_unit common_wrap common_pad">
			<div class="am-text-center">
				<!-- 电脑站流程 -->
				<div class="pc"><img src="{$lb6.image}" alt=""></div>
				<!-- 手机站流程 -->
				<div class="mobile"><img src="{$lb7.image}" alt=""></div>
				<div class="advan_btm_title common_pad">
					<img src="{$lb8.image}" alt="">
				</div>
			</div>

			<div class="advan_bar">
			 {volist name="lb9" id="v9"}	
				<div class="advan_bar_half am-fl auto">
					{$v9.desc}
				</div>
				{/volist}
			</div>
		</div>

	</div>

	<!-- 在线下单 -->
{include file="public:footer"}

</body>

</html>