<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body>

{include file="public:pc_top"}

	<!-- 面包屑导航 -->
	<div class="nav-top">
		<div class="nav-box common_wrap am-cf">
			<div class="nav-float am-fl am-cf">
				<div class="nav-icon am-fl"></div>
				<div class="nav-bread am-fl">
					<span><a href="{:url('About/index')}">关于我们</a></span>
					<span class="nav-col"><a href="{:url('About/news')}">新闻资讯</a></span>
					
				</div>
			</div>
		</div>
	</div>

	<div class="common_wrap common_container">
		<div class="common_detail">
			<h5>{$re.title}</h5>
			<p class="lmx_news_subtitle">浏览次数：{$re.browse} &nbsp; &nbsp; 发布时间：{$re.time|date="Y/m/d",###}</p>
			<div class="lmx_border_bottom"></div>
			{$re.content}
		</div>
		<div class="common_pages">
		  {empty name="$rep"}	
			<a href="javascript:;" class="prev" title="没有了">上一篇：没有了</a>

			{else /}
			<a href="{:url('About/detail_news',array('id'=>$rep['id']))}" class="prev" title="{$rep.title}">上一篇：{$rep.title}</a>
		  {/empty}	
		  {empty name="$ren"}	
			<a href="javascript:;" class="next" title="没有了">下一篇：没有了</a>
			{else /}
			<a href="{:url('About/detail_news',array('id'=>$ren['id']))}" class="next" title="{$ren.title}">下一篇：{$ren.title}</a>
			{/empty}
		</div>
	</div>

	<!-- 在线下单 -->


<!-- 公共底部 -->
{include file="public:footer"}

</body>

</html>