<!DOCTYPE html>
<html lang="en">

	{include file="public:header"}

<body>

	{include file="public:pc_top"}
	


	<!-- 面包屑导航 -->
	<div class="nav-top">
		<div class="nav-box common_wrap am-cf">
			<div class="nav-float am-fl am-cf">
				<div class="nav-icon am-fl"></div>
				<div class="nav-bread am-fl">
					<span>
						<a href="{:url('About/index')}">关于我们</a>
					</span>
					<span class="nav-col">公司简介</span>
				</div>
			</div>
			{include file="public:about_nav"}
		</div>
	</div>

	<div class="serve_box">
		<div class="serve_about am-cf common_pad common_wrap">
			<div class="about_title">{$re.title}</div>
			<img class="serve_about_pic am-fr" src="{$re.image}" alt="">
			<div class="about_txt common_pad am-fl">
				<div class="cont">
					{$re.marray}
				</div>
			</div>
		</div>

		<div class="common_wrap serve_about">
			{$re.content}
		</div>

		<!-- <div class="common_wrap serve_about">
			<div class="about_title">翻译领域</div>
			<div class="cont am-padding-vertical-xl">
				<div class="font_16">
					<ul>
						<li>汽车类: 汽车、摩托车、汽车电子、电气系统、ATV沙滩车、电动机车、摩托车零部件等。</li>
						<li>化工类: 化学助剂、石化产品、塑料制品、化工设备、精细化工、橡胶制品、实验室用品等。</li>
						<li>电器类: 取暖器、氧气机、吸尘器、视听器材、厨房电器、冰箱冷柜、空气净化器等。</li>
						<li>机械类: 机床、仪表、矿冶机械、机械学、动力工程、建工机械、化工机械等。</li>
						<li>通信类: 无线通信、移动通信、程控交换、自动控制、传感技术、光学仪器等。</li>
						<li>电气类: 电工设备、电气运行、电气结线等。</li>
						<li>法律类: 法律、法规、合同、章程、协议书、意向书等。</li>
						<li>经贸类: 市场调研、企业管理、进出口贸易、物流配送、商业服务、可行性研究报告等。</li>
						<li>金融类: 金融、股票、证券、税务、信贷、保险、审计报告、财务报表等。</li>
						<li>医药类: 保健、临床、解剖学、生理学、药物药理分析、医疗器械等。</li>
						<li>建筑类: 建筑、建材、装饰、环境艺术等。</li>
						<li>其他综合类</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="common_wrap serve_about">
			<div class="about_title">保密系统</div>
			<div class="cont am-padding-vertical-xl">
				<div class="font_16">
					<p>依我国《民法通则》第五章第三节的规定，我国知识产权包括著作权、专利权、商标权、发明权、发现权以及其他科技成果权，译百丰翻译公司实行客户与公司，公司与员工，员工与客户之间交替保密制度，最大限度的保证了文件的保密性。</p>
					<p class="secret_title font_bold">客户与公司保密</p>
					<p>客户和公司之间通过签订保密协议和知识产权正式交付，对具体的实施的项目进行保护，以确保文件的保密性。</p>
          <p class="secret_title font_bold">员工与公司保密</p>
					<p>员工进公司以来会签订严格的保密协议，并进行保密培训和知识产权教育，树立员工保护知识产权的观念，并在客户具体项目实施时再次针对项目跟公司签定保密协议。 </p>
					<p class="secret_title font_bold">员工与客户保密</p>
					<p>员工进公司以来会签订严格的保密协议，并进行保密培训和知识产权教育，客户项目开始时候，会在客户单独针对项目跟客户再次签署保密协议。</p>
					<p class="secret_title font_bold">软件与设备保密</p>
					<p>客户文件进入公司电脑，自动进入局域网加密系统，未经电脑技术人员解密，公司无权转发给外部任何设备，公司客服部，项目部，翻译部，审校部排版部均有严格的保密软件，防止任何未经授权人士进入。</p>
					
				</div>
			</div>
		</div> -->

		<!-- 在线下单 -->
{include file="public:footer"}

</body>

</html>