<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body>

	{include file="public:pc_top"}

	<!-- 面包屑导航 -->
	<div class="nav-top">
		<div class="nav-box common_wrap am-cf">
			<div class="nav-float am-fl am-cf">
				<div class="nav-icon am-fl"></div>
				<div class="nav-bread am-fl">
					<span>
						<a href="index.html">关于我们</a>
					</span>
					<span class="nav-col">公司图片</span>
				</div>
			</div>
			{include file="public:about_nav"}
		</div>
	</div>

	<div class="common_box common_wrap common_container">
		<div class="common_none">
			<div class="honor_unit">
				<ul class="honor_list">
				  {volist name="res" id="v"}
					<li class="honor_item big"><a href="{:url('About/detail_photo',array('id'=>$v['id']))}"><div class="honor_cell big" style="background-image: url({$v.image})"></div><h6 class="honor_cell_title big" title="{$v.name}">{$v.name}</h6></a></li>
					{/volist}
				</ul>
			</div>
			{$page}
		</div>
	</div>

	<!-- 在线下单 -->
{include file="public:footer"}

</body>

</html>