<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body>

	{include file="public:pc_top"}

	<!-- 面包屑导航 -->
	<div class="nav-top">
		<div class="nav-box common_wrap am-cf">
			<div class="nav-float am-fl am-cf">
				<div class="nav-icon am-fl"></div>
				<div class="nav-bread am-fl">
					<span class="nav-col">配音服务</span>
				</div>
			</div>
		</div>
	</div>

	<div class="serve_box">
		<div class="serve_about am-cf common_pad common_wrap">
			<img class="serve_about_pic am-fr" src="{$lb1.image}" alt="">
			<div class="serve_about_txt common_pad am-fl">
				<div class="cont">
					{$lb1.content}
				</div>
			</div>
		</div>

		<div class="lab_box common_wrap common_pad">
			<div class="serve_title left am-text-left am-text-xl common_pad col_four">
				样音筛选
				<a href="{:url('Dub/index')}" class="lab_view common_btn">重置</a>
				<!-- <a href="javascript:show_lab();" class="lab_view common_btn">查看筛选</a> -->
			</div>
         <form action="" id="dub_form">
			<div class="lab_wrap mar_btm border">
				<div class="lab_unit am-cf">
					<div class="lab_unit_title am-text-default am-fl">语种：</div>
					<ul class="lab_unit_list am-fl">
						{volist name="langs" id="vl"}
						<li {if condition="$arr.lid eq $vl.tid"} class="active" {/if}><a href="javascript:;" class="lid" data-id="{$vl.tid}">{$vl.tname}</a></li>
						{/volist}
						<input name="lid" type="hidden" id="lid" value="{$arr.lid}" />
					</ul>
					<div class="lab_more am-fl">更多<img src="__HOME__/img/icon_down.png" width="9" height="5" alt="">
					</div>
				</div>

				<div class="lab_unit am-cf">
					<div class="lab_unit_title am-text-default am-fl">分类：</div>
					<ul class="lab_unit_list am-fl">
						{volist name="type" id="vt"}
						<li {if condition="$arr.tid eq $vt.tid"} class="active" {/if}><a href="javascript:;" class="tid" data-id="{$vt.tid}">{$vt.tname}</a></li>
						{/volist}
						<input name="tid" type="hidden" id="tid" value="{$arr.tid}" />
					</ul>
					<div class="lab_more am-fl">更多<img src="__HOME__/img/icon_down.png" width="9" height="5" alt="">
					</div>
				</div>

				<div class="lab_unit am-cf">
					<div class="lab_unit_title am-text-default am-fl">性别：</div>
					<ul class="lab_unit_list am-fl">
						<li {if condition="$arr.sex eq 1"} class="active" {/if}><a href="javascript:;" class="sex" data-id="1" >男翻译员</a></li>
						<li {if condition="$arr.sex eq 2"} class="active" {/if}><a href="javascript:;" class="sex" data-id="2" >女翻译员</a></li>
					</ul>
					<input name="sex" type="hidden" id="sex" value="{$arr.sex}" />
				</div>

				<div class="lab_unit am-cf">
					<div class="lab_unit_title am-text-default am-fl">年龄：</div>
					<ul class="lab_unit_list am-fl">
						{volist name="age" id="va"}
						<li {if condition="$arr.aid eq $va.tid"} class="active" {/if}><a href="javascript:;" class="aid" data-id="{$va.tid}">{$va.tname}</a></li>
						{/volist}
						<input name="aid" type="hidden" id="aid" value="{$arr.aid}" />
					</ul>
				</div>

				<div class="lab_unit am-cf">
					<div class="lab_unit_title am-text-default am-fl">情绪：</div>
					<ul class="lab_unit_list am-fl">
						{volist name="mood" id="vm"}
						<li {if condition="$arr.mid eq $vm.tid"} class="active" {/if}><a href="javascript:;" class="mid" data-id="{$vm.tid}">{$vm.tname}</a></li>
						{/volist}
					</ul>
					<input name="mid" type="hidden" id="mid" value="{$arr.mid}" />
				</div>

				<div class="lab_unit am-cf bg_f2">
					<div class="lab_unit_title am-text-default am-fl">
						<img src="__HOME__/img/search.png" class="am-text-middle" width="22" height="22" alt="">
					</div>
					<input type="text" class="search_input" name="title" value="{$arr.title}" placeholder="配音员名称、编号查询">
					<div class="lab_more am-fr" id="sou">搜索</div>
				</div>

			</div>
		</form>
			<!-- <div class="common_wrap am-text-center">
				<a class="common_btn slot" href="javascript:;">更多样音</a>
			</div> -->

		</div>

		<script>
				$(".lid").click(function(){
					var lid = $(this).data("id");
   
					$("#lid").val(lid);
   
					$("#dub_form").submit();
					
				})

				$(".tid").click(function(){
					var tid = $(this).data("id");
   
					$("#tid").val(tid);
   
					$("#dub_form").submit();
					
				})
   
				$(".sex").click(function(){
					var sex = $(this).data("id");
   
					$("#sex").val(sex);
   
					$("#dub_form").submit();
					
				})

				$(".aid").click(function(){
					var aid = $(this).data("id");
   
					$("#aid").val(aid);
   
					$("#dub_form").submit();
					
				})

				$(".mid").click(function(){
					var mid = $(this).data("id");
   
					$("#mid").val(mid);
   
					$("#dub_form").submit();
					
				})

				$("#sou").click(function(){
					$("#dub_form").submit();
				})
			   
			   </script>
		<!-- 这里是点击搜索后，搜索内容为空的显示内容 -->
		{empty name="$res"}
		<div class="common_wrap am-text-center">
			<p>抱歉！没有找到符合条件的相关配音</p>
			<p class="common_box">您可以尝试更换关键词</p>
			<img src="__HOME__/img/nores.png" width="163" height="163" alt="">
		</div>
       {/empty}


		<!-- 到这里截止 -->

		<!-- 特价专区  三行 两男一女-->
		<div class="common_box common_wrap">
			<div class="serve_title am-text-center am-text-xl">
				特价专区
			</div>

			
			<section data-am-widget="accordion" class="am-accordion am-accordion-default"
				data-am-accordion='{ "multiple": true }'>
				{volist name="ret" id="vo"}
				<dl class="am-accordion-item">
					<dt class="am-accordion-title">
						<div class="lmx_accordion_title">
							<div class="am-margin-left-sm">
								{$vo.name} | 编号：{$vo.code}
								<p class="spe_subtitle ">{$vo.tags}</p>
							</div>
							<div class="lmx_accordion_icon">
								<div class="lmx_accordion_icon am-hide-sm-only">
									<a class="playMusics"  data-id="{$vo.id}"></a>
									<a class="showVideos"  data-id="{$vo.id}"></a>
									<a {if condition="$vo.image neq '' "} href="{$vo.image}" download="{$vo.image}" {elseif condition="$vo.video neq '' " /} href="{$vo.video}" download="{$vo.video}" {else /} href="###" {/if} ></a>
									<span class="lmx_accordion_btn ask_him_btn" data-id="{$vo.id}">请他配音</span>
								</div>
							</div>
						</div>
					</dt>
					<dd class="am-accordion-bd am-collapse">
						<!-- 规避 Collapase 处理有 padding 的折叠内容计算 计算有误问题， 加一个容器 -->
						<div class="am-accordion-content am-cf">
							<div data-am-widget="tabs" class="am-tabs am-tabs-default">
								<ul class="am-tabs-nav lmx_tabs_nav">
									<!-- 跟下方 -->
									{volist name="$vo['type']" id="v2" key="k"}
									<li {if condition="$k eq 1" } class="am-active" {else /} class="" {/if}> <a
										href="[data-tab-panel-{$k}]">{$v2.tname}</a></li>
									{/volist}
									<!-- <li class=""><a href="[data-tab-panel-1]">商业广告</a></li> -->
								</ul>
								<div class="am-tabs-bd">
									{volist name="$vo['type']" id="v2" key="k"}
									<div data-tab-panel-{$k} {if condition="$k eq 1" } class="am-tab-panel am-active"
										{else /} class="am-tab-panel" {/if}> {volist name="$v2['list']" id="v3" } <table
										class="am-u-lg-6 am-u-sm-12 am-table-hover am-table lmx_table">
										<tr>
											<td>编号：{$v3.code}</td>
											<td>{$v3.tags}</td>
											<td class="voice_table_icon">
												<a class="playMusic" data-id="{$v3.id}"></a>
												<a class="showVideo" data-id="{$v3.id}"></a>
											</td>
											<td class="am-hide-sm-only lmx_btn_outline">
												<span class="ask_him_btns" data-id="{$v3.id}">请他配音</span>
											</td>
										</tr>
										</table>
										{/volist}
									</div>
									{/volist}
								
								</div>
							</div>
						</div>
					</dd>
				</dl>
				{/volist}
			</section>

			

			
			<section id="modal_list_box" data-am-widget="accordion" 
				class="am-accordion am-accordion-default common_pad am-margin-top-xl" 
				data-am-accordion='{ "multiple": true }'>
				{volist name="res" id="vo" key="ko"}
				<dl class="am-accordion-item">
					<dt class="am-accordion-title">
						<div class="lmx_accordion_title">
							<div class="am-margin-left-sm">
								{$vo.name} | 编号：{$vo.code}
								<p class="spe_subtitle ">{$vo.tags}</p>
							</div>
							<div class="lmx_accordion_icon">
								<div class="lmx_accordion_icon am-hide-sm-only">
									<a class="playMusics" data-id="{$vo.id}"></a>
									<a class="showVideos" data-id="{$vo.id}"></a>
									<a {if condition="$vo.image neq '' "} href="{$vo.image}" download="{$vo.image}" {elseif condition="$vo.video neq '' " /} href="{$vo.video}" download="{$vo.video}" {else /} href="###" {/if} ></a>
									<span class="lmx_accordion_btn ask_him_btn" data-id="{$vo.id}">请他配音</span>
								</div>
							</div>
						</div>
					</dt>
					<dd class="am-accordion-bd am-collapse">
						<!-- 规避 Collapase 处理有 padding 的折叠内容计算 计算有误问题， 加一个容器 -->
						<div class="am-accordion-content am-cf">
							<div data-am-widget="tabs" class="am-tabs am-tabs-default">
								<ul class="am-tabs-nav lmx_tabs_nav">
									<!-- 跟下方 -->
									{volist name="$vo['type']" id="v2" key="k"}
									<li {if condition="$k eq 1" } class="am-active" {else /} class="" {/if}> <a
										href="[data-tab-panel-{$k}]">{$v2.tname}</a></li>
									{/volist}
									<!-- <li class=""><a href="[data-tab-panel-1]">商业广告</a></li> -->
								</ul>
								<div class="am-tabs-bd">
									{volist name="$vo['type']" id="v2" key="k"}
									<div data-tab-panel-{$k} {if condition="$k eq 1" } class="am-tab-panel am-active"
										{else /} class="am-tab-panel" {/if}> {volist name="$v2['list']" id="v3" } <table
										class="am-u-lg-6 am-u-sm-12 am-table-hover am-table lmx_table">
										<tr>
											<td>编号：{$v3.code}</td>
											<td>{$v3.tags}</td>
											<td class="voice_table_icon">
												<a class="playMusic" data-id="{$v3.id}"></a>
												<a class="showVideo" data-id="{$v3.id}"></a>
											</td>
											<td class="am-hide-sm-only lmx_btn_outline">
												<span class="ask_him_btns" data-id="{$v3.id}">请他配音</span>
											</td>
										</tr>
										</table>
										{/volist}
									</div>
									{/volist}

								</div>
							</div>
						</div>
					</dd>
				</dl>
				{/volist}
				<dl class="last_view" style="display: none">上次看到这</dl>
			</section>
			
			


			<div style="text-align: center;margin-top:30px;">
				<button type="button" class="common_btn" onclick="look_more()">更多样音</button>
			</div>
			
			<!-- 特价专区结束 -->


		</div>



		<!-- 请他配音弹出框 -->
		<div class="am-popup" id="askHim">
			<div class="am-popup-inner">
				<div class="am-popup-hd">
					<h4 class="am-popup-title"></h4>
					<span data-am-modal-close class="am-close">&times;</span>
				</div>
				<div class="am-popup-bd am-text-center">
				  <div id="content">	
					<p>编号：<span id="code"> 10123</span></p>
					<p>配音员ID：<span id="name">男声1号</span></p>
					<p>样音属性：<span id="tags">宣传片/专题片、男配音员、中年、磁性、普通话配音</span></p>
				</div>
				 <textarea id="input"  style="position: absolute;top:-96999999px;"></textarea>
					<button class="order_btn order_inline blue am-margin-sm">复制</button>
					<a href="http://wpa.qq.com/msgrd?v=3&uin={$sys.qq}&site=qq&menu=yes" class="contactTencent"></a>
				</div>
			</div>
		</div>

		<!-- 播放音频 -->
		<div class="music_bg" id="music_box">
			<div class="common_wrap">
				<div id="wrapper">
					<p class="music_title">
						编号：<span id="codes">20251</span> | 配音员ID：<span id="names">女生2号（胡桃里酒馆）</span>
						<a href="javascript:closeMusic()" class="am-icon-close am-fr"></a>
					</p>
					<audio src="__HOME__/audio/seeyouagain.mp3" preload="auto" id="audio" controls></audio>
					<script>
						$(function () {
							$('audio').audioPlayer();
						});
					</script>
				</div>
			</div>
		</div>


		<!-- 配音案例 -->
		<div class="common_box common_wrap">
			<div class="serve_title am-text-center am-text-xl">
				配音案例
				<a class="am-text-sm case_more am-fr" href="{:url('Dub/cases')}">更多 &gt;</a>
			</div>
			<div class="success_wrap am-cf am-margin-top">
				{volist name="cases" id="vc" offset="0" length="1"}
				<a href="javascript:showVideos({$vc.id});" class="success_left am-fl"
					style="background-image: url({$vc.image})"></a>
				{/volist}
				<div class="success_right am-fr">
					<ul class="success_list am-cf">
						{volist name="cases" id="vc" offset="1" length="4"}
						<li class="success_item am-fl">
							<a class="success_cell" href="javascript:showVideos({$vc.id});"
								style="background-image:url({$vc.image})"></a>
						</li>
						{/volist}
					</ul>
				</div>
			</div>
		</div>

		<!-- 配音案例弹出视频 -->
		<div class="am-modal am-modal-no-btn" tabindex="-1" id="video-modal" onConfirm="closeVideo()"
			data-am-modal-confirm>
			<div class="am-modal-dialog">
				<div class="am-modal-hd">

					<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
				</div>
				<div class="am-modal-bd bg_black">
					<video src="__HOME__/img/movie.mp4" id="video_control" width="100%" controls></video>
				</div>
			</div>
		</div>

		<!-- 计价规则 -->
		<div class="serve_unit common_wrap">
			<div class="serve_title am-text-center am-text-xl common_pad col_four">{$lb3.name}</div>
			<div class="serve_wrap">
				<div class="serve_desc am-text-default mar_auto">
					{$lb3.content}
				</div>
				<div class="serve_tb common_pad">
					<div class="am-scrollable-horizontal serve_show">
						<table class="am-table am-table-bordered am-text-nowrap am-table-centered">
							<thead>
								<tr>
									<th>配音类型</th>
									<th>标准级</th>
									<th>专业级</th>
									<th>出版级</th>
								</tr>
							</thead>
							<tbody>
								{volist name="lb4" id="v4"}
								<tr>
									<td>{$v4.name}</td>
									<td>{$v4.pip}</td>
									<td>{$v4.major}</td>
									<td>{$v4.publish}</td>
								</tr>
								{/volist}
							</tbody>
						</table>
					</div>
				</div>
				<div class="serve_tips mar_btm tre">
					<h6 class="serve_tips_title">温馨提示：</h6>
					<div class="serve_tips_cont am-text-default">
						{$lb5.content}
					</div>
				</div>
			</div>
		</div>

	</div>



	<!-- 在线下单 -->
	{include file="public:footer"}

	<script>
		$(function () {
			// 打开请他配音
			$('.ask_him_btn').click(function () {

               var id = $(this).data('id');

			   $.ajax({
				   type:"post",
				   url:"{:url('Dub/get_person')}",
				   data:{id:id},
				   dataType:"json",
				   success:function(re)
				   {
                      if(re == 0){
						  layer.msg("系统繁忙,请稍后再试");
						  location.reload();
					  }else{

						//  console.log(re.name);
						  
                        $("#name").text(re.name);

						$("#code").text(re.code);

						$("#tags").text(re.tags);

						var modal = $('#askHim');
						modal.modal();
						event.stopPropagation();
					  }
				   } 

			   })
			   
			})
			$('.ask_him_btns').click(function () {

				var id = $(this).data('id');

				$.ajax({
					type:"post",
					url:"{:url('Dub/get_persons')}",
					data:{id:id},
					dataType:"json",
					success:function(re)
					{
					if(re == 0){
						layer.msg("系统繁忙,请稍后再试");
						location.reload();
					}else{

						//  console.log(re.name);
						
						$("#name").text(re.name);

						$("#code").text(re.code);

						$("#tags").text(re.tags);

						var modal = $('#askHim');
						modal.modal();
						event.stopPropagation();
					}
					} 

				})

				})
			$(".am-margin-sm").click(function(){
				var text = document.getElementById("content").innerText;

				var input = document.getElementById("input");
					input.value = text; // 修改文本框的内容
					input.select(); // 选中文本
					document.execCommand("copy");
			//	console.log(input);
			layer.msg("复制成功");
				
				
			})
			// 初始化选项卡
			$('#doc-my-tabs').tabs();
			$('.lab_more').click(function () {
				$(this).toggleClass('active').prev('.lab_unit_list').toggleClass('active')
			})
			// 关闭视频窗口时，停止播放
			$('#video-modal').on('close.modal.amui', function () {
				var video = document.getElementById('video_control');
				video.pause();
			});

			$('.showVideo').click(function (event) {
				var id = $(this).data("id");

				$.ajax({
				type: "post",
				url: "{:url('Dub/get_video')}",
				data: {
					id: id
				},
				dataType: "text",
				success: function (re) {
					if (re == 0) {
						layer.msg("此样音视频资源不存在");
					} else {
						$("#video_control").attr('src', re);
						var modal = $('#video-modal');
						modal.modal();
						event.stopPropagation();
					}

				}

			})
			})
			$('.showVideos').click(function (event) {
				var id = $(this).data("id");

				$.ajax({
				type: "post",
				url: "{:url('Dub/get_videos')}",
				data: {
					id: id
				},
				dataType: "text",
				success: function (re) {
					if (re == 0) {
						layer.msg("此样音视频资源不存在");
					} else {
						$("#video_control").attr('src', re);
						var modal = $('#video-modal');
						modal.modal();
						event.stopPropagation();
					}

				}

			})
			})
			$('.playMusic').click(function (event) {
				var audio = document.getElementById('audio');
				// console.log(222);
				if ($(this).hasClass('active')) {
					$(this).removeClass('active')
					// 更改audio的src
					// 点击播放的时候要设置audio的src  ↓↓↓↓↓↓↓
					// audio.setAttribute('src','路径')
				} else {
					// 点击其他的播放按钮时，清除所有active样式
					$('.playMusic').removeClass('active')
					// 给当前按钮添加样式
					$(this).toggleClass('active');
					// 更改audio的src
					// 点击播放的时候要设置audio的src  ↓↓↓↓↓↓↓
					// audio.setAttribute('src','路径')
					var id = $(this).data("id");

					var Musics_srcs='';

					$.ajax({
						type:"post",
						url:"{:url('Dub/get_music')}",
						data:{id:id},
						dataType:"json",
						async:false,
						success:function(re)
						{
							if(re == 0){
								layer.msg("此样音音频资源不存在");return false;
							}else{
								Musics_srcs=re.image;
								
								$("#codes").text(re.code);
									$("#names").text(re.tags);
								if(localStorage.getItem('oldSrc') != re.image){
									localStorage.setItem('oldSrc',re.image)
									audio.setAttribute('src',Musics_srcs)
									
								}
							}
						}

					})
				}
				if(Musics_srcs == ''){
                    $('.playMusic').removeClass('active')
					 return ;
				}
				// 显示播放控件
				$('#music_box').show();

				// 判断是否暂停，如果暂停了就播放
				if (audio.paused) {
					audio.play();
				} else {
					audio.pause();
				}

				// console.log(audio.getAttribute('src'))

				event.stopPropagation();
			})
			$('.playMusics').click(function (event) {
				var audio = document.getElementById('audio');
                
				
			//	console.log(Musics_src);
				
				if ($(this).hasClass('active')) {
					$(this).removeClass('active')
					// 更改audio的src
					// 点击播放的时候要设置audio的src  ↓↓↓↓↓↓↓
					// audio.setAttribute('src',Musics_src)
				} else {
					// 点击其他的播放按钮时，清除所有active样式
					$('.playMusics').removeClass('active')
					// 给当前按钮添加样式
					$(this).toggleClass('active');
					// 更改audio的src
					// 点击播放的时候要设置audio的src  ↓↓↓↓↓↓↓
					var id = $(this).data("id");

					var Musics_src='';
					
					$.ajax({
						type:"post",
						url:"{:url('Dub/get_musics')}",
						data:{id:id},
						dataType:"json",
						async:false,
						success:function(re)
						{
							if(re == 0){
								layer.msg("此样音音频资源不存在");return;
							}else{
								Musics_src=re.image;
								
								$("#codes").text(re.code);
									 $("#names").text(re.name);
								if(localStorage.getItem('oldSrc') != re.image){
									localStorage.setItem('oldSrc',re.image)
									audio.setAttribute('src',Musics_src)
									
								}
							}
						}

					})
					
				}
				if(Musics_src == ''){
					$('.playMusics').removeClass('active')
                     return ;
				}
				// 显示播放控件
				$('#music_box').show();

				// 判断是否暂停，如果暂停了就播放
				if (audio.paused) {
					audio.play();
				} else {
					audio.pause();
				}

				// console.log(audio.getAttribute('src'))

				event.stopPropagation();
			})
			look_more()
		})
		var list_index = 9;
		// 查看更多
		function look_more() {
			var list = $('#modal_list_box .am-accordion-item'),
			lastView = $('.last_view');
			if(list_index > 9){
				lastView.attr('style','display:block')
			}

			for (let i = 0; i < list.length; i++) {
				if (i <= list_index) {
					$(list[i]).attr('style', 'display:block');
				} else {
					$(list[i]).attr('style', 'display:none')
				}
			}
			$(list[list_index - 10]).append(lastView)
			if(list_index < list.length){
				list_index += 10;
			}
			
		}
		// 查看筛选
		function show_lab() {
			$('.lab_wrap').toggleClass('active');
		}
		// 打开视频弹窗
		function showVideos(id) {

			$.ajax({
				type: "post",
				url: "{:url('Dub/get_cases')}",
				data: {
					id: id
				},
				dataType: "text",
				success: function (re) {
					if (re == 0) {
						layer.msg("此案例没有上传音频");
					} else {
						$("#video_control").attr('src', re);
						var modal = $('#video-modal');
						modal.modal();
					}

				}

			})

		}

		function closeMusic() {
			$('#music_box').hide();
			var audio = document.getElementById('audio');
			audio.pause();
		}
	</script>


</body>

</html>