<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body>

	{include file="public:pc_top"}

	<!-- 面包屑导航 -->
	<div class="nav-top">
		<div class="nav-box common_wrap am-cf">
			<div class="nav-float am-fl am-cf">
				<div class="nav-icon am-fl"></div>
				<div class="nav-bread am-fl">
					<span class="nav-col">配音服务</span>
				</div>
			</div>
		</div>
	</div>

	<div class="serve_box">
		<div class="serve_about am-cf common_pad common_wrap">
			<img class="serve_about_pic am-fr" src="__HOME__/img/dub_pic.png" alt="">
			<div class="serve_about_txt common_pad am-fl">
				<div class="cont">
					配音虽也属话筒前的语言艺术范畴，但它不同于演播，挖掘书面含义后，可以自己根据理解去设计语调、节奏；亦不同于新闻、科教片的解说，可以根据画面平叙直述、娓娓道来。影视配音要求配音演员绝对忠实于原片，在原片的基础上，进行语言的再创造。每个需要配音的作品都有它背后的故事，它想要表达的情感以及它想展现的基调。不同的作品需要不同的音色、不同的情绪与不同的朗读节奏去传达出它想要表达的不同感觉。音色选择的不对，情绪发挥的不对，整个配音作品就会显得不伦不类，缺乏感染力，甚至让人感觉厌烦、排斥。
				</div>
			</div>
		</div>

		<div class="lab_box common_wrap common_pad">
			<div class="serve_title left am-text-left am-text-xl common_pad col_four">
				样音筛选
				<a href="javascript:;" class="scree lab_reset common_btn">重置</a>
				<a href="javascript:show_lab();" class="lab_view common_btn">查看筛选</a>
			</div>

			<div class="lab_wrap mar_btm border">
				<div class="lab_unit am-cf">
					<div class="lab_unit_title am-text-default am-fl">语种：</div>
					<ul class="lab_unit_list am-fl">
						<li><a href="javascript:;">普通话配音</a></li>
						<li><a href="javascript:;">外籍英语</a></li>
						<li><a href="javascript:;">国籍英语</a></li>
						<li><a href="javascript:;">粤语</a></li>
						<li><a href="javascript:;">阿拉伯语</a></li>
						<li><a href="javascript:;">日语</a></li>
						<li><a href="javascript:;">瑞典语</a></li>
						<li><a href="javascript:;">土耳其语</a></li>
						<li><a href="javascript:;">乌克兰语</a></li>
						<li><a href="javascript:;">韩语</a></li>
						<li><a href="javascript:;">泰语</a></li>
						<li><a href="javascript:;">维语</a></li>
						<li><a href="javascript:;">普通话配音</a></li>
						<li><a href="javascript:;">外籍英语</a></li>
						<li><a href="javascript:;">国籍英语</a></li>
						<li><a href="javascript:;">粤语</a></li>
						<li><a href="javascript:;">阿拉伯语</a></li>
						<li><a href="javascript:;">日语</a></li>
						<li><a href="javascript:;">瑞典语</a></li>
						<li><a href="javascript:;">土耳其语</a></li>
						<li><a href="javascript:;">乌克兰语</a></li>
						<li><a href="javascript:;">韩语</a></li>
						<li><a href="javascript:;">泰语</a></li>
						<li><a href="javascript:;">维语</a></li>
					</ul>
					<div class="lab_more am-fl">更多<img src="__HOME__/img/icon_down.png" width="9" height="5" alt=""></div>
				</div>

				<div class="lab_unit am-cf">
					<div class="lab_unit_title am-text-default am-fl">分类：</div>
					<ul class="lab_unit_list am-fl">
						<li><a href="javascript:;">宣传片/专题片</a></li>
						<li><a href="javascript:;">商业广告</a></li>
						<li><a href="javascript:;">教育课件类</a></li>
						<li><a href="javascript:;">电台广告</a></li>
						<li><a href="javascript:;">微电影</a></li>
						<li><a href="javascript:;">促销广告</a></li>
						<li><a href="javascript:;">电话铃声</a></li>
						<li><a href="javascript:;">游戏卡通动漫</a></li>
						<li><a href="javascript:;">角色模仿</a></li>
						<li><a href="javascript:;">飞碟说</a></li>
						<li><a href="javascript:;">宣传片/专题片</a></li>
						<li><a href="javascript:;">商业广告</a></li>
						<li><a href="javascript:;">教育课件类</a></li>
						<li><a href="javascript:;">电台广告</a></li>
						<li><a href="javascript:;">微电影</a></li>
						<li><a href="javascript:;">促销广告</a></li>
						<li><a href="javascript:;">电话铃声</a></li>
						<li><a href="javascript:;">游戏卡通动漫</a></li>
						<li><a href="javascript:;">角色模仿</a></li>
						<li><a href="javascript:;">飞碟说</a></li>
					</ul>
					<div class="lab_more am-fl">更多<img src="__HOME__/img/icon_down.png" width="9" height="5" alt=""></div>
				</div>

				<div class="lab_unit am-cf">
					<div class="lab_unit_title am-text-default am-fl">性别：</div>
					<ul class="lab_unit_list am-fl">
						<li><a href="javascript:;">男翻译员</a></li>
						<li><a href="javascript:;">女翻译员</a></li>
					</ul>
				</div>

				<div class="lab_unit am-cf">
					<div class="lab_unit_title am-text-default am-fl">年龄：</div>
					<ul class="lab_unit_list am-fl">
						<li><a href="javascript:;">儿童</a></li>
						<li><a href="javascript:;">少年</a></li>
						<li><a href="javascript:;">青年</a></li>
						<li><a href="javascript:;">中年</a></li>
						<li><a href="javascript:;">老年</a></li>
					</ul>
				</div>

				<div class="lab_unit am-cf">
					<div class="lab_unit_title am-text-default am-fl">情绪：</div>
					<ul class="lab_unit_list am-fl">
						<li><a href="javascript:;">娓娓道来</a></li>
						<li><a href="javascript:;">摇滚</a></li>
						<li><a href="javascript:;">古典</a></li>
						<li><a href="javascript:;">流行</a></li>
						<li><a href="javascript:;">时尚活力</a></li>
					</ul>
				</div>

				<div class="lab_unit am-cf bg_f2">
					<div class="lab_unit_title am-text-default am-fl">
						<img src="__HOME__/img/search.png" class="am-text-middle" width="22" height="22" alt="">
					</div>
					<input type="text" class="search_input" placeholder="配音员名称、编号查询">
					<div class="lab_more am-fr">搜索</div>
				</div>

			</div>

			<!-- <div class="common_wrap am-text-center">
				<a class="common_btn slot" href="javascript:;">更多样音</a>
			</div> -->

		</div>

		<!-- 这里是点击搜索后，搜索内容为空的显示内容 -->
		<div class="common_wrap am-text-center">
			<p>抱歉！没有找到符合条件的相关配音</p>
			<p class="common_box">您可以尝试更换关键词</p>
			<img src="__HOME__/img/nores.png" width="163" height="163" alt="">
		</div>



		<!-- 到这里截止 -->

		<!-- 特价专区  三行 两男一女-->
		<div class="common_box common_wrap">
			<div class="serve_title am-text-center am-text-xl">
				特价专区
			</div>
			<section data-am-widget="accordion" class="am-accordion am-accordion-default"
				data-am-accordion='{ "multiple": true }'>
				<dl class="am-accordion-item">
					<dt class="am-accordion-title">
						<div class="lmx_accordion_title">
							<div class="am-margin-left-sm">
								男声1号 | 编号：10123
								<p class="spe_subtitle ">宣传片/专题片 男配音员 中年 磁性 大气 普通话配音</p>
							</div>
							<div class="lmx_accordion_icon">
								<div class="lmx_accordion_icon am-hide-sm-only">
									<a class="playMusic"></a>
									<a class="showVideo"></a>
									<a href=""></a>
									<span class="lmx_accordion_btn ask_him_btn">请他配音</span>
								</div>
							</div>
						</div>
					</dt>
					<dd class="am-accordion-bd am-collapse">
						<!-- 规避 Collapase 处理有 padding 的折叠内容计算 计算有误问题， 加一个容器 -->
						<div class="am-accordion-content am-cf">
							<div data-am-widget="tabs" class="am-tabs am-tabs-default">
								<ul class="am-tabs-nav lmx_tabs_nav">
									<!-- 跟下方 -->
									<li class="am-active"><a href="[data-tab-panel-0]">宣传片/专题片</a></li>
									<li class=""><a href="[data-tab-panel-1]">商业广告</a></li>
								</ul>
								<div class="am-tabs-bd">
									<div data-tab-panel-0 class="am-tab-panel am-active">
										<table class="am-u-lg-6 am-u-sm-12 am-table-hover am-table lmx_table">
											<tr>
												<td>编号：10116</td>
												<td>厚重</td>
												<td class="voice_table_icon">
													<a class="playMusic"></a>
													<a class="showVideo"></a>
												</td>
												<td class="am-hide-sm-only lmx_btn_outline">
													<span class="ask_him_btn">请他配音</span>
												</td>
											</tr>
										</table>
										<table class="am-u-lg-6 am-u-sm-12 am-table-hover am-table lmx_table">
											<tr>
												<td>编号：10116</td>
												<td>厚重</td>
												<td class="voice_table_icon">
													<a class="playMusic"></a>
													<a class="showVideo"></a>
												</td>
												<td class="am-hide-sm-only lmx_btn_outline">
													<span class="ask_him_btn">请他配音</span>
												</td>
											</tr>
										</table>
									</div>
									<div data-tab-panel-1 class="am-tab-panel ">
										<table class="am-u-lg-6 am-u-sm-12 am-table-hover am-table lmx_table">
											<tr>
												<td>编号：10116</td>
												<td>厚重</td>
												<td class="voice_table_icon">
													<a class="playMusic"></a>
													<a class="showVideo"></a>
												</td>
												<td class="am-hide-sm-only lmx_btn_outline">
													<span class="ask_him_btn">请他配音</span>
												</td>
											</tr>
										</table>
										<table class="am-u-lg-6 am-u-sm-12 am-table-hover am-table lmx_table">
											<tr>
												<td>编号：10116</td>
												<td>厚重</td>
												<td class="voice_table_icon">
													<a class="playMusic"></a>
													<a class="showVideo"></a>
												</td>
												<td class="am-hide-sm-only lmx_btn_outline">
													<span class="ask_him_btn">请他配音</span>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</dd>
				</dl>

			</section>
			<!-- 特价专区结束 -->
			<section data-am-widget="accordion" class="am-accordion am-accordion-default common_pad am-margin-top-xl"
				data-am-accordion='{ "multiple": true }'>
				<dl class="am-accordion-item">
					<dt class="am-accordion-title">
						<div class="lmx_accordion_title">
							<div class="am-margin-left-sm">
								男声1号 | 编号：10123
								<p class="spe_subtitle ">宣传片/专题片 男配音员 中年 磁性 大气 普通话配音</p>
							</div>
							<div class="lmx_accordion_icon">
								<div class="lmx_accordion_icon am-hide-sm-only">
									<a class="playMusic"></a>
									<a class="showVideo"></a>
									<a href=""></a>
									<span class="lmx_accordion_btn ask_him_btn">请他配音</span>
								</div>
							</div>
						</div>
					</dt>
					<dd class="am-accordion-bd am-collapse">
						<!-- 规避 Collapase 处理有 padding 的折叠内容计算 计算有误问题， 加一个容器 -->
						<div class="am-accordion-content am-cf">
							<div data-am-widget="tabs" class="am-tabs am-tabs-default">
								<ul class="am-tabs-nav lmx_tabs_nav">
									<li class="am-active"><a href="[data-tab-panel-0]">宣传片/专题片</a></li>
									<li class=""><a href="[data-tab-panel-1]">商业广告</a></li>
								</ul>
								<div class="am-tabs-bd">
									<div data-tab-panel-0 class="am-tab-panel am-active">
										<table class="am-u-lg-6 am-u-sm-12 am-table-hover am-table lmx_table">
											<tr>
												<td>编号：10116</td>
												<td>厚重</td>
												<td class="voice_table_icon">
													<a class="playMusic"></a>
													<a class="showVideo"></a>
												</td>
												<td class="am-hide-sm-only lmx_btn_outline">
													<span class="ask_him_btn">请他配音</span>
												</td>
											</tr>
										</table>
										<table class="am-u-lg-6 am-u-sm-12 am-table-hover am-table lmx_table">
											<tr>
												<td>编号：10116</td>
												<td>厚重</td>
												<td class="voice_table_icon">
													<a class="playMusic"></a>
													<a class="showVideo"></a>
												</td>
												<td class="am-hide-sm-only lmx_btn_outline">
													<span class="ask_him_btn">请他配音</span>
												</td>
											</tr>
										</table>
									</div>
									<div data-tab-panel-1 class="am-tab-panel ">
										<table class="am-u-lg-6 am-u-sm-12 am-table-hover am-table lmx_table">
											<tr>
												<td>编号：10116</td>
												<td>厚重</td>
												<td class="voice_table_icon">
													<a class="playMusic"></a>
													<a class="showVideo"></a>
												</td>
												<td class="am-hide-sm-only lmx_btn_outline">
													<span class="ask_him_btn">请他配音</span>
												</td>
											</tr>
										</table>
										<table class="am-u-lg-6 am-u-sm-12 am-table-hover am-table lmx_table">
											<tr>
												<td>编号：10116</td>
												<td>厚重</td>
												<td class="voice_table_icon">
													<a class="playMusic"></a>
													<a class="showVideo"></a>
												</td>
												<td class="am-hide-sm-only lmx_btn_outline">
													<span class="ask_him_btn">请他配音</span>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</dd>
				</dl>
				<dl class="last_view">上次看到这</dl>
				<dl class="am-accordion-item">
					<dt class="am-accordion-title">
						<div class="lmx_accordion_title">
							<div class="am-margin-left-sm">
								男声1号 | 编号：10123
								<p class="spe_subtitle ">宣传片/专题片 男配音员 中年 磁性 大气 普通话配音</p>
							</div>
							<div class="lmx_accordion_icon">
								<div class="lmx_accordion_icon am-hide-sm-only">
									<a class="playMusic"></a>
									<a class="showVideo"></a>
									<a href=""></a>
									<span class="lmx_accordion_btn ask_him_btn">请他配音</span>
								</div>
							</div>
						</div>
					</dt>
					<dd class="am-accordion-bd am-collapse">
						<!-- 规避 Collapase 处理有 padding 的折叠内容计算 计算有误问题， 加一个容器 -->
						<div class="am-accordion-content am-cf">
							<div data-am-widget="tabs" class="am-tabs am-tabs-default">
								<ul class="am-tabs-nav lmx_tabs_nav">
									<li class="am-active"><a href="[data-tab-panel-0]">宣传片/专题片</a></li>
									<li class=""><a href="[data-tab-panel-1]">商业广告</a></li>
								</ul>
								<div class="am-tabs-bd">
									<div data-tab-panel-0 class="am-tab-panel am-active">
										<table class="am-u-lg-6 am-u-sm-12 am-table-hover am-table lmx_table">
											<tr>
												<td>编号：10116</td>
												<td>厚重</td>
												<td class="voice_table_icon">
													<a class="playMusic"></a>
													<a class="showVideo"></a>
												</td>
												<td class="am-hide-sm-only lmx_btn_outline">
													<span class="ask_him_btn">请他配音</span>
												</td>
											</tr>
										</table>
										<table class="am-u-lg-6 am-u-sm-12 am-table-hover am-table lmx_table">
											<tr>
												<td>编号：10116</td>
												<td>厚重</td>
												<td class="voice_table_icon">
													<a class="playMusic"></a>
													<a class="showVideo"></a>
												</td>
												<td class="am-hide-sm-only lmx_btn_outline">
													<span class="ask_him_btn">请他配音</span>
												</td>
											</tr>
										</table>
									</div>
									<div data-tab-panel-1 class="am-tab-panel ">
										<table class="am-u-lg-6 am-u-sm-12 am-table-hover am-table lmx_table">
											<tr>
												<td>编号：10116</td>
												<td>厚重</td>
												<td class="voice_table_icon">
													<a class="playMusic"></a>
													<a class="showVideo"></a>
												</td>
												<td class="am-hide-sm-only lmx_btn_outline">
													<span class="ask_him_btn">请他配音</span>
												</td>
											</tr>
										</table>
										<table class="am-u-lg-6 am-u-sm-12 am-table-hover am-table lmx_table">
											<tr>
												<td>编号：10116</td>
												<td>厚重</td>
												<td class="voice_table_icon">
													<a class="playMusic"></a>
													<a class="showVideo"></a>
												</td>
												<td class="am-hide-sm-only lmx_btn_outline">
													<span class="ask_him_btn">请他配音</span>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</dd>
				</dl>
			</section>
		</div>

		<!-- 请他配音弹出框 -->
		<div class="am-popup" id="askHim">
				<div class="am-popup-inner">
					<div class="am-popup-hd">
						<h4 class="am-popup-title"></h4>
						<span data-am-modal-close
									class="am-close">&times;</span>
					</div>
					<div class="am-popup-bd am-text-center">
						<p>编号：10123</p>
						<p>配音员ID：男声1号</p>		
						<p>样音属性：宣传片/专题片、男配音员、中年、磁性、普通话配音</p>	
						<button class="order_btn order_inline blue am-margin-sm">复制</button>	
						<a href="http://wpa.qq.com/msgrd?v=3&uin=xxxxxxxxxx&site=qq&menu=yes"class="contactTencent"></a>
					</div>
				</div>
			</div>

		<!-- 播放音频 -->
		<div class="music_bg" id="music_box">
			<div class="common_wrap">
				<div id="wrapper">
					<p class="music_title">
						编号：20251 | 配音员ID：女生2号（胡桃里酒馆）
						<a href="javascript:closeMusic()" class="am-icon-close am-fr"></a>
					</p>
					<audio src="__HOME__/audio/seeyouagain.mp3" preload="auto" id="audio" controls></audio>
					<script>
						$(function () {
							$('audio').audioPlayer();
						});
					</script>
				</div>
			</div>
		</div>


		<!-- 配音案例 -->
		<div class="common_box common_wrap">
			<div class="serve_title am-text-center am-text-xl">
				配音案例
				<a class="am-text-sm case_more am-fr" href="modal_more.html">更多 &gt;</a>
			</div>
			<div class="success_wrap am-cf am-margin-top">
				<a href="javascript:showVideo();" class="success_left am-fl"
					style="background-image: url(__HOME__/img/anli_big.png)"></a>
				<div class="success_right am-fr">
					<ul class="success_list am-cf">
						<li class="success_item am-fl">
							<a class="success_cell" href="javascript:showVideo();"
								style="background-image:url(__HOME__/img/anli_right.png)"></a>
						</li>
						<li class="success_item am-fl">
							<a class="success_cell" href="javascript:showVideo();"
								style="background-image:url(__HOME__/img/anli_right.png)"></a>
						</li>
						<li class="success_item am-fl">
							<a class="success_cell" href="javascript:showVideo();"
								style="background-image:url(__HOME__/img/anli_right.png)"></a>
						</li>
						<li class="success_item am-fl">
							<a class="success_cell" href="javascript:showVideo();"
								style="background-image:url(__HOME__/img/anli_right.png)"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- 配音案例弹出视频 -->
		<div class="am-modal am-modal-no-btn" tabindex="-1" id="video-modal" onConfirm="closeVideo()" data-am-modal-confirm>
			<div class="am-modal-dialog">
				<div class="am-modal-hd">
					这里是标题
					<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
				</div>
				<div class="am-modal-bd bg_black">
					<video src="__HOME__/img/movie.mp4" id="video_control" width="100%" controls></video>
				</div>
			</div>
		</div>

		<!-- 计价规则 -->
		<div class="serve_unit common_wrap">
			<div class="serve_title am-text-center am-text-xl common_pad col_four">配音计费规格</div>
			<div class="serve_wrap">
				<div class="serve_desc am-text-default mar_auto">
					报价单位：元/千字，（中文不计空格）含税。包含：盖章、打印、排版和快递费用。最终翻译报价需要结合翻译内容所涉及的行业领域、难度综合制定！翻译热线：0371-*********。
				</div>
				<div class="serve_tb common_pad">
					<div class="am-scrollable-horizontal serve_show">
						<table class="am-table am-table-bordered am-text-nowrap am-table-centered">
							<thead>
								<tr>
									<th>配音类型</th>
									<th>初级</th>
									<th>中级</th>
									<th>专业级</th>
									<th>高级</th>
									<th>最高级</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>中译英</td>
									<td>150</td>
									<td>170-200</td>
									<td>170-200</td>
									<td>170-200</td>
									<td>170-200</td>
								</tr>
								<tr>
									<td>英译中</td>
									<td>150</td>
									<td>170-200</td>
									<td>170-200</td>
									<td>170-200</td>
									<td>170-200</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="serve_tips mar_btm tre">
					<h6 class="serve_tips_title">温馨提示：</h6>
					<div class="serve_tips_cont am-text-default">
						<p>1.字数统计方法均按中文稿计算,使用Microsoft Word 2000 菜单"工具"-"字数统计"-"字符数，不计空格"显示的数字。</p>
						<p>2.加急稿件的收费标准按千字增收20元左右,我公司将酌情收取。</p>
						<p>3.以上报价均为参考价格，精确报价将根据稿件内容的难度、技术处理的复杂程度和时限要求、排版要求、是否要求外籍人士校对等因素而定。</p>
						<p>4.联邦在线翻译严格执行中华人民共和国国家标准《翻译服务规范第一部分：笔译》（GB/T1936.1-2008）及《翻译服务译文质量要求》（GB/T18692-2005）,保证译文质量达到行业专业水平。</p>
					</div>
				</div>
			</div>
		</div>

	</div>


	<!-- 在线下单 -->
{include file="public:footer"}

	<script>
		$(function () {
			// 打开请他配音
			$('.ask_him_btn').click(function(){
				var modal = $('#askHim');
				modal.modal();
				event.stopPropagation();
			})
			// 初始化选项卡
			$('#doc-my-tabs').tabs();
			$('.lab_more').click(function () {
				$(this).toggleClass('active').prev('.lab_unit_list').toggleClass('active')
			})
			// 关闭视频窗口时，停止播放
			$('#video-modal').on('close.modal.amui', function () {
				var video = document.getElementById('video_control');
				video.pause();
			});

			$('.showVideo').click(function (event) {
				var modal = $('#video-modal');
				modal.modal();
				event.stopPropagation();
			})
			$('.playMusic').click(function (event) {
				var audio = document.getElementById('audio');

				if($(this).hasClass('active')){
					$(this).removeClass('active')
					// 更改audio的src
					// 点击播放的时候要设置audio的src  ↓↓↓↓↓↓↓
					// audio.setAttribute('src','路径')
				}else{
					// 点击其他的播放按钮时，清除所有active样式
					$('.playMusic').removeClass('active')
					// 给当前按钮添加样式
					$(this).toggleClass('active');
					// 更改audio的src
					// 点击播放的时候要设置audio的src  ↓↓↓↓↓↓↓
					// audio.setAttribute('src','路径')
				}
				// 显示播放控件
				$('#music_box').show();

				// 判断是否暂停，如果暂停了就播放
				if(audio.paused){
					audio.play();
				}else{
					audio.pause();
				}

				// console.log(audio.getAttribute('src'))
			
				event.stopPropagation();
			})
		})
		// 查看筛选
		function show_lab() {
			$('.lab_wrap').toggleClass('active');
		}
		// 打开视频弹窗
		function showVideo() {
			var modal = $('#video-modal');
			modal.modal();
		}

		function closeMusic() {
			$('#music_box').hide();
			var audio = document.getElementById('audio');
			audio.pause();
		}
	</script>


</body>

</html>