<footer class="footer_box">
        <div class="footer_top am-text-sm">
            <div class="footer_link common_wrap">
                <div class="footer_link_title">友情链接：</div>
                <ul class="footer_link_list">
                   {volist name="link" id="vk"} 
                    <li><a href="{$vk.url}" target="_blank">{$vk.name}</a></li>
                    {/volist}
                </ul>
            </div>
            <div class="common_wrap am-cf">
    
                <div class="footer_right footer_wrap am-fl">
                    <div class="footer_nav footer_serve">
                        <dl class="am-fl min-width-50">
                            <dt>公司服务</dt>
                            <dd><a href="serve.html">翻译服务</a></dd>
                            <dd><a href="dub.html">配音服务</a></dd>
                            <dd><a href="lab.html">劳务输出</a></dd>
                        </dl>
                        <dl class="am-fl min-width-50">
                            <dt>关于我们</dt>
                            <dd><a href="about.html">公司简介</a></dd>
                            <dd><a href="honor.html">资质荣誉</a></dd>
                            <dd><a href="pics.html">公司图片</a></dd>
                            <dd><a href="case.html">成功案例</a></dd>
                            <dd><a href="project.html">解决方案</a></dd>
                            <dd><a href="advan.html">公司优势</a></dd>
                            <dd><a href="news.html">新闻资讯</a></dd>
                        </dl>
                    </div>
                    <div class="footer_nav footer_contact">
                        <dl>
                            <dt>联系我们</dt>
                            <dd>公司地址：{$sys.addr}</dd>
                            <dd>咨询热线：{$sys.phone} {$sys.tel}</dd>
                            <dd>联系邮箱：{$sys.email}</dd>
                            <dd>公司传真：{$sys.fax}</dd>
                        </dl>
                    </div>
                    <div class="footer_nav footer_scan am-fr">
                        <div class="footer_ewm_box am-fl">
                            <div class="footer_ewm">
                                <img src="{$sys.qrcode}" width="150" height="150" alt="">
                            </div>
                        </div>
                        <div class="footer_ewm_box am-fr">
                            <div class="footer_ewm">
                                <img src="{$sys.wx}" width="150" height="150" alt="">
                            </div>
                        </div>
                        <!-- <div class="footer_ewm_txt am-fl">
                            <div class="footer_ewm_for">
                                一切为了客户，创造客户价值扫描二维码免费获取行业资讯了解公司最新动态
                            </div>						
                        </div> -->
                    </div>
                </div>
    
            </div>
        </div>
        <div class="footer_btm am-text-xs">
            <div class="am-cf common_wrap">
                <div class="footer_btm_right am-fr">
                    <a href="http://www.beianbeian.com/" target="_blank">网站备案号码：{$sys.icp}</a>
                    <a href="http://www.dd371.com/" target="_blank">技术支持：朵朵科技</a>
                </div>
                <div class="footer_btm_left">
                    <a href="javascript:;">
                        Copyright &copy; 2018 - 2020 Cld , All Rights Reserved {$sys.name}
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default footer_nav_wrap" id="">
        <ul class="am-navbar-nav am-cf am-avg-sm-4">
            <li>
                <a href="tel:{$sys.phone}" class="">
                    <span class="am-icon-phone"></span>
                    <span class="am-navbar-label">电话</span>
                </a>
            </li>
            <li>
                <a href="http://wpa.qq.com/msgrd?v=3&uin={$sys.qq}&site=qq&menu=yes" class="">
                    <span class="am-icon-qq"></span>
                    <span class="am-navbar-label">QQ客服</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" class=""
                    data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 240, height: 240}">
                    <span class="am-icon-qrcode"></span>
                    <span class="am-navbar-label">二维码</span>
                </a>
            </li>
            <li>
                <a href="{:url('Index/index')}" class="">
                    <span class="am-icon-home"></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="sider_box" id="sider_box">
        <div class="sider_top">在线客服</div>
        <div class="sider_phone">
            <h6>客服电话</h6>
            <p>{$sys.phone}</p>
        </div>
        <div class="sider_contact sider_qq">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$sys.qq}&site=qq&menu=yes">
                <div class="sider_icon">
                    <img src="__HOME__/img/icon_qq.png" width="63" height="70" alt="">
                </div>
                <p>客服QQ</p>
            </a>
        </div>
        <div class="sider_contact sider_wx">
            <div class="sider_icon">
                <img src="{$sys.qrcode}" width="70" height="70" alt="">
            </div>
            <p>客服微信</p>
        </div>
        <div class="sider_btm" data-am-widget="gotop">
            <a href="#top">
                <i class="am-icon-chevron-up"></i>返回顶部
            </a>
        </div>
        <div class="sider_close" id="sider_close"><i class="am-icon-close"></i></div>
    </div>

    <!-- 手机端二维码模态窗 -->
<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
    <div class="am-modal-dialog">
        <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        <div class="footer_erweima am-text-center">
            <img src="{$sys.qrcode}" width="180" height="180" alt="">
        </div>
    </div>
</div>

<!-- 手机端返回顶部 -->
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
<a href="#top" title="回到顶部">
    <span class="am-gotop-title">回到顶部</span>
    <i class="am-gotop-icon am-icon-chevron-up"></i>
</a>
</div>