<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default footer_nav_wrap" id="">
        <ul class="am-navbar-nav am-cf am-avg-sm-4">
            <li>
                <a href="tel:18037878212" class="">
                    <span class="am-icon-phone"></span>
                    <span class="am-navbar-label">电话</span>
                </a>
            </li>
            <li>
                <a href="http://wpa.qq.com/msgrd?v=3&uin=xxxxxxxxxx&site=qq&menu=yes" class="">
                    <span class="am-icon-qq"></span>
                    <span class="am-navbar-label">QQ客服</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" class=""
                    data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 240, height: 240}">
                    <span class="am-icon-qrcode"></span>
                    <span class="am-navbar-label">二维码</span>
                </a>
            </li>
            <li>
                <a href="index.html" class="">
                    <span class="am-icon-home"></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
        </ul>
    </div>