<!-- 手机端二维码模态窗 -->
<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
		<div class="am-modal-dialog">
			<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
			<div class="footer_erweima am-text-center">
				<img src="__HOME__/img/ewm.png" width="180" height="180" alt="">
			</div>
		</div>
	</div>

<!-- 手机端返回顶部 -->
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
	<a href="#top" title="回到顶部">
		<span class="am-gotop-title">回到顶部</span>
		<i class="am-gotop-icon am-icon-chevron-up"></i>
	</a>
</div>