<!-- 手机端头部-->
<div class="header_phone">
    <div class="header_login header_bd">
        <a class="header_link" href="regist.html">注册</a><a class="header_link" href="login.html">登录</a>
        <span class="">昵称昵称<a class="header_link" href="login.html">[退出登录]</a><a href="javascript:;">|</a><a
                class="header_link" href="order.html">我的订单</a></span>
    </div>
    <div class="header_hd">
        <h1>联邦在线<a href="index.html">
                <img src="__HOME__/img/logo.png" width="107" height="30" alt="">
            </a></h1>
    </div>
    <nav data-am-widget="menu" class="am-menu  am-menu-dropdown1 header_icon" data-am-menu-collapse>
        <a href="javascript: void(0)" class="am-menu-toggle">
            <i class="am-icon-navicon"></i>
        </a>
        <ul class="am-menu-nav am-avg-sm-1 am-collapse">
            <li class="">
                <a href="index.html" class="">网站首页</a>
            </li>
            <li class="am-parent">
                <a href="about.html" class="">关于我们</a>
                <ul class="am-menu-sub am-collapse  am-avg-sm-3">
                    <li class="">
                        <a href="about.html">公司简介</a>
                    </li>
                    <li class="">
                        <a href="honor.html">资质荣誉</a>
                    </li>
                    <li class="">
                        <a href="pics.html">公司图片</a>
                    </li>
                    <li>
                        <a href="case.html">成功案例</a>
                    </li>
                    <li>
                        <a href="project.html">解决方案</a>
                    </li>
                    <li>
                        <a href="advan.html">公司优势</a>
                    </li>
                    <li>
                        <a href="news.html">新闻资讯</a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="serve.html">翻译服务<br />TRANSLATION</a>
            </li>
            <li class="">
                <a href="dub.html">配音服务<br />DUBBING</a>
            </li>
            <li class="">
                <a href="lab.html">劳务输出<br />LABOUR EXPORTS</a>
            </li>
            <li class="">
                <a href="join.html">人才招聘<br />RECRUIT</a>
            </li>
            <li class="">
                <a href="contact.html">联系我们<br />CONTACT</a>
            </li>
        </ul>
    </nav>
</div>