<div class="sider_box" id="sider_box">
        <div class="sider_top">在线客服</div>
        <div class="sider_phone">
            <h6>客服电话</h6>
            <p>{$sys.phone}</p>
        </div>
        <div class="sider_contact sider_qq">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$sys.qq}&site=qq&menu=yes">
                <div class="sider_icon">
                    <img src="__HOME__/img/icon_qq.png" width="63" height="70" alt="">
                </div>
                <p>客服QQ</p>
            </a>
        </div>
        <div class="sider_contact sider_wx">
            <div class="sider_icon">
                <img src="{$sys.qrcode}" width="70" height="70" alt="">
            </div>
            <p>客服微信</p>
        </div>
        <div class="sider_btm" data-am-widget="gotop">
            <a href="#top">
                <i class="am-icon-chevron-up"></i>返回顶部
            </a>
        </div>
        <div class="sider_close" id="sider_close"><i class="am-icon-close"></i></div>
    </div>