<header class="header">
<div class="header_pc">
    <div class="header_ding">
        <div class="common_wrap am-cf">
            <div class="header_login am-fl">
               {empty name="$uid"} 
                <a class="header_link" href="{:url('Login/register')}">注册</a><a class="header_link" href="{:url('Login/login')}">登录</a>
                {else /}
                <span class=""><a href="user.html">{$user.username}</a><a class="header_link" href="{:url('Login/login')}">[退出登录]</a><a
                        href="javascript:;">|</a><a class="header_link" href="user.html">我的订单</a></span>
                       {/empty} 
            </div>
            <div class="header_ding_right am-fr">
                <div class="header_ding_box am-fr">
                    <img class="header_ding_icon am-fl" src="__HOME__/img/icon_top_mail.png" width="20" height="20" alt="">
                    <a class="header_ding_tel am-fl" href="mailto:{$sys.email}">{$sys.email}</a>
                </div>
                <div class="header_ding_box am-fr">
                    <img class="header_ding_icon am-fl" src="__HOME__/img/icon_top_phone.png" width="20" height="20" alt="">
                    <a class="header_ding_tel am-fl" href="tel:{$sys.tel}">{$sys.tel}</a>
                </div>
                <div class="header_ding_box header_ding_title am-fr">
                    <a href="order.html">在线下单</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header_top">
        <div class="common_wrap am-cf">
            <h1 class="header_logo am-fl">联邦在线<a href="{:url('Index/index')}" title="联邦在线"><img src="{$sys.pclogo}" width="199"
                        height="56" alt="联邦在线"></a></h1>
            <div class="header_right am-fr am-text-default">
                <div class="header_nav">
                    <ul class="header_list am-cf am-text-default">
                        <li {if condition="CONTROLLER_NAME eq 'Index' "} class="header_item active" {else /}  class="header_item"   {/if} ><a href="{:url('Index/index')}">网站首页<br />HOME</a></li>
                        <li {if condition="CONTROLLER_NAME eq 'About' "} class="header_item active" {else /}  class="header_item"   {/if} >
                            <a href="{:url('About/index')}">关于我们<br />about</a>
                            <div class="header_nav_show">
                                <a href="{:url('About/index')}">公司简介</a>
                                <a href="{:url('About/honor')}">资质荣誉</a>
                                <a href="{:url('About/photo')}">公司图片</a>
                                <a href="{:url('About/cases')}">成功案例</a>
                                <a href="{:url('About/project')}">解决方案</a>
                                <a href="{:url('About/advan')}">公司优势</a>
                                <a href="{:url('About/news')}">新闻资讯</a>
                            </div>
                        </li>
                        <li {if condition="CONTROLLER_NAME eq 'Trans' "} class="header_item active" {else /}  class="header_item"   {/if} >
                            <a href="{:url('Trans/index')}">翻译服务<br />TRANSLATION</a>
                        </li>
                        <li {if condition="CONTROLLER_NAME eq 'Dub' "} class="header_item active" {else /}  class="header_item"   {/if}>
                            <a href="{:url('Dub/index')}">配音服务<br />DUBBING</a>
                        </li>
                        <li {if condition="CONTROLLER_NAME eq 'Labour' "} class="header_item active" {else /}  class="header_item"   {/if} >
                            <a href="{:url('Labour/index')}">劳务输出<br />LABOUR EXPORTS</a>
                        </li>
                        <li {if condition="CONTROLLER_NAME eq 'Join' "} class="header_item active" {else /}  class="header_item"   {/if}  >
                            <a href="{:url('Join/index')}">人才招聘<br />RECRUIT</a>
                        </li>
                        <li {if condition="CONTROLLER_NAME eq 'Call' "} class="header_item active" {else /}  class="header_item"   {/if}>
                            <a href="{:url('Call/index')}">联系我们<br />CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- 手机端头部-->
<div class="header_phone">
    <div class="header_login header_bd">
        <a class="header_link" href="regist.html">注册</a><a class="header_link" href="login.html">登录</a>
        <span class="">昵称昵称<a class="header_link" href="login.html">[退出登录]</a><a href="javascript:;">|</a><a
                class="header_link" href="order.html">我的订单</a></span>
    </div>
    <div class="header_hd">
        <h1>联邦在线<a href="index.html">
                <img src="__HOME__/img/logo.png" width="107" height="30" alt="">
            </a></h1>
    </div>
    <nav data-am-widget="menu" class="am-menu  am-menu-dropdown1 header_icon" data-am-menu-collapse>
        <a href="javascript: void(0)" class="am-menu-toggle">
            <i class="am-icon-navicon"></i>
        </a>
        <ul class="am-menu-nav am-avg-sm-1 am-collapse">
            <li class="">
                <a href="index.html" class="">网站首页</a>
            </li>
            <li class="am-parent">
                <a href="about.html" class="">关于我们</a>
                <ul class="am-menu-sub am-collapse  am-avg-sm-3">
                    <li class="">
                        <a href="about.html">公司简介</a>
                    </li>
                    <li class="">
                        <a href="honor.html">资质荣誉</a>
                    </li>
                    <li class="">
                        <a href="pics.html">公司图片</a>
                    </li>
                    <li>
                        <a href="case.html">成功案例</a>
                    </li>
                    <li>
                        <a href="project.html">解决方案</a>
                    </li>
                    <li>
                        <a href="advan.html">公司优势</a>
                    </li>
                    <li>
                        <a href="news.html">新闻资讯</a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="serve.html">翻译服务<br />TRANSLATION</a>
            </li>
            <li class="">
                <a href="dub.html">配音服务<br />DUBBING</a>
            </li>
            <li class="">
                <a href="lab.html">劳务输出<br />LABOUR EXPORTS</a>
            </li>
            <li class="">
                <a href="join.html">人才招聘<br />RECRUIT</a>
            </li>
            <li class="">
                <a href="contact.html">联系我们<br />CONTACT</a>
            </li>
        </ul>
    </nav>
</div>
</header>
<div class="banner_box">
    <div class="banner_pc pc">
        <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
            <ul class="am-slides">
                {volist name="pc_banner" id="pc"}
                <li><img src="{$pc.image}" /></li>
                {/volist}
            </ul>
        </div>
    </div>
    <div class="banner_phone mobile">
        <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-1">
            <ul class="am-slides">
                    {volist name="m_banner" id="m"}
                    <li><img src="{$m.image}" /></li>
                    {/volist}
            </ul>
        </div>
    </div>



</div>