<div class="header_pc">
    <div class="header_ding">
        <div class="common_wrap am-cf">
            <div class="header_login am-fl">
                <a class="header_link" href="regist.html">注册</a><a class="header_link" href="login.html">登录</a>
                <span class=""><a href="user.html">昵称昵称</a><a class="header_link" href="login.html">[退出登录]</a><a
                        href="javascript:;">|</a><a class="header_link" href="user.html">我的订单</a></span>
            </div>
            <div class="header_ding_right am-fr">
                <div class="header_ding_box am-fr">
                    <img class="header_ding_icon am-fl" src="__HOME__/img/icon_top_mail.png" width="20" height="20" alt="">
                    <a class="header_ding_tel am-fl" href="mailto:{$sys.email}">{$sys.email}</a>
                </div>
                <div class="header_ding_box am-fr">
                    <img class="header_ding_icon am-fl" src="__HOME__/img/icon_top_phone.png" width="20" height="20" alt="">
                    <a class="header_ding_tel am-fl" href="tel:{$sys.tel}">{$sys.tel}</a>
                </div>
                <div class="header_ding_box header_ding_title am-fr">
                    <a href="order.html">在线下单</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header_top">
        <div class="common_wrap am-cf">
            <h1 class="header_logo am-fl">联邦在线<a href="{:url('Index/index')}" title="联邦在线"><img src="{$sys.pclogo}" width="199"
                        height="56" alt="联邦在线"></a></h1>
            <div class="header_right am-fr am-text-default">
                <div class="header_nav">
                    <ul class="header_list am-cf am-text-default">
                        <li {if condition="CONTROLLER_NAME eq 'Index' "} class="header_item active" {else /}  class="header_item"   {/if} ><a href="{:url('Index/index')}">网站首页<br />HOME</a></li>
                        <li class="header_item">
                            <a href="about.html">关于我们<br />about</a>
                            <div class="header_nav_show">
                                <a href="about.html">公司简介</a>
                                <a href="honor.html">资质荣誉</a>
                                <a href="pics.html">公司图片</a>
                                <a href="case.html">成功案例</a>
                                <a href="project.html">解决方案</a>
                                <a href="advan.html">公司优势</a>
                                <a href="news.html">新闻资讯</a>
                            </div>
                        </li>
                        <li class="header_item">
                            <a href="serve.html">翻译服务<br />TRANSLATION</a>
                        </li>
                        <li class="header_item">
                            <a href="dub.html">配音服务<br />DUBBING</a>
                        </li>
                        <li class="header_item">
                            <a href="lab.html">劳务输出<br />LABOUR EXPORTS</a>
                        </li>
                        <li class="header_item">
                            <a href="join.html">人才招聘<br />RECRUIT</a>
                        </li>
                        <li class="header_item">
                            <a href="contact.html">联系我们<br />CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>