<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body>

	{include file="public:pc_top"}

	<!-- 面包屑导航 -->
	<div class="nav-top">
		<div class="nav-box common_wrap am-cf">
			<div class="nav-float am-fl am-cf">
				<div class="nav-icon am-fl"></div>
				<div class="nav-bread am-fl">
						<span><a href="{:url('Index/index')}">网站首页</a></span>
						<span class="nav-col">我的积分</span>
				</div>
			</div>
		</div>
	</div>

	<div class="user_box common_wrap common_p12 am-cf">
		<div class="user_menu am-fl auto border am-text-center">
	<div class="user_menu_cell border_btm flex_center">
		<img src="__HOME__/img/user_pic.png" width="46" height="46" alt="">
		<span>{$user.username}</span>
	</div>
	<div class="user_menu_list am-cf">
			<a class="user_menu_item  am-u-lg-12 am-u-sm-4 am-text-center" href="{:url('User/index')}">订单列表</a>
			<a class="user_menu_item active am-u-lg-12 am-u-sm-4 am-text-center" href="{:url('User/integ')}">我的积分</a>
			<a class="user_menu_item am-u-lg-12 am-u-sm-4 am-text-center" href="{:url('User/dope')}">我的消息</a>
	</div>
</div>
		<div class="user_show am-fr auto border">
			<div class="user_title am-text-default border_btm">
				积分提现
			</div>
			<div class="user_tb">
				<div class="am-text-center common_pad border_btm">
					<img class="mar_btm" src="__HOME__/img/withdraw_pic.png" width="180" height="106" alt="">
					<div class="withdraw_box mar_btm">
						<h6 class="font_tre">可提现金额</h6>
						<div class="flex_center">
							<span class="am-text-xxl">￥<input class="withdraw_ipt am-text-center border user_icon"
									id="withdraw_ipt" type="number"  value="{$user.integ}" readonly="true"
									placeholder="0.01"></span>
							<span class="withdraw_btn col_main" id="withdraw_btn">手动输入</span>
						</div>
						
					</div>
					<div class="am-form-group border">
							
							<textarea class="" rows="5" placeholder="请输入提现账号信息" id="content"></textarea>
						  </div>
					<a class="withdraw_link am-text-default am-text-center" id="ti" href="javascript:;">提现</a>
				</div>

			

				<div class="withdraw_list">
					<div class="withdraw_title col_main font_tre">提现记录</div>
					<div class="withdraw_tb">
						<div class="am-scrollable-horizontal">
							<table class="am-table am-table-bordered am-text-nowrap am-table-centered am-text-default">
								<thead>
									<tr>
										<th>日期</th>
										<th>提现金额(元)</th>
										<th>账号信息</th>
										<th>状态</th>
									</tr>
								</thead>
								<tbody>
									{volist name="res" id="v"}
									<tr>
										<td>{$v.time|date="Y-m-d",###}</td>
										<td>{$v.moneys}</td>
										<td>{$v.content}</td>
										<td>
											{if condition="$v.status eq 0"}待审核 {/if}
											{if condition="$v.status eq 1"}已通过 {/if}
											{if condition="$v.status eq 2"}已驳回 {/if}

										</td>
									</tr>
								 {/volist}
								</tbody>
							</table>
						</div>

						<div class="no_data am-text-center am-text-sm">暂无更多数据~~</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<!-- 公共底部 -->
{include file="public:foot"}

	<script>
		$(function () {
			let withdraw_btn = $('#withdraw_btn'),
				withdraw_ipt = $('#withdraw_ipt')
			withdraw_btn.click(function () {
				if (withdraw_ipt.attr('readonly') === false) {
					return
				}
				withdraw_ipt.prop('readonly', false)
				withdraw_ipt.focus()

				withdraw_ipt.blur(function () {
					withdraw_ipt.prop('readonly', true)
				})

			})

            $("#ti").click(function(){
				var money = $("#withdraw_ipt").val();

				var integ = {$user.integ};

				var content = $("#content").val();

			//	console.log(money,integ);
				

				if(money <= 0  || money > integ){
					layer.msg("请输入正确的提现金额");return false;
				}

				if($.trim(content) == ''){
					layer.msg("请输入提现账号信息");return false;
				}

				$.ajax({
					type:"post",
					url:"{:url('User/save_ti')}",
					data:{money:money,content:content},
					dataType:"text",
					success:function(re){
                       if(re == 1){
						   layer.msg("余额不足");return false;
					   }
					   if(re == 2){
						   layer.msg("系统繁忙,提现失败"); 
						   setTimeout("location.reload()",2000);
					   }
					   if(re == 0){
						    layer.msg("申请成功,等待审核"); 
						   setTimeout("location.reload()",2000);
					   }
					} 
				})
				
			})
		})
	</script>

</body>

</html>